@model DAL.Models.DoctorViewModel
@{
    ViewData["Title"] = "Create";
}
@inject BLL.Services.DepartmentServices.IDepartmentSevice Dep
@inject BLL.Services.ReservationServices.IReservationServices Serv

<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Create Doctor</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item text-denger" aria-current="page">
                Create Doctor
            </li>
        </ol>
    </nav>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Validation Plugin Js -->

    <script>
        if (@ViewBag.Success == 1) {
            swal("Saved Success!", "You clicked the button!", "success").then(function () {
                $(".A input").val("");
            });

        }
    </script>
    <form class="A" asp-action="Create" asp-controller="Doctor" enctype="multipart/form-data">


        <!-- Basic Information  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Basic Information</h3>
                        @*<small>Description text here...</small>*@
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!-- Name -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                    <input type="text" class="form-control input" placeholder="Name" asp-for="Name" />
                                    <label for="floatingInput"> Name</label>
                                    <span asp-validation-for="Name" style="color: #dc3545 !important;"></span>
                                </div>
                            </div>
                            <!-- Date -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </span>
                                    <input type="date" data-provide="datepicker" data-date-autoclose="true"
                                        asp-for="BirthDate" class="form-control input" placeholder="Date of Birth"
                                        required />
                                    <label for="floatingInput">Date of Birth</label>
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- address -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-map-location"></i>
                                    </span>
                                    <input type="text" class="form-control input" asp-for="Address"
                                        placeholder="address" required />
                                    <label for="floatingInput"> Address</label>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- id number -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-address-card"></i>
                                    </span>
                                    <input type="number" class="form-control input" placeholder="National Number "
                                        asp-for="SSN" maxlength="14" required />
                                    <label for="NationalNumber">National Number</label>
                                    <span asp-validation-for="SSN" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- image -->
                            <div class="col-sm-6 mb-3 image">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-image"></i>
                                    </span>
                                    <label class="input-group-text image-lable" for="inputGroupFile01">Image</label>
                                    <input type="file" class="form-control form-control-lg " asp-for="PhotoUrl"
                                        id="inputGroupFile01">
                                </div>
                                <span class="text-danger" asp-validation-for="PhotoUrl"></span>
                            </div>
                            <!-- phone -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
                                    </span>
                                    <input type="number" class="form-control input" asp-for="Phone" placeholder="phone"
                                        maxlength="11" required />
                                    <label for="phone">phone</label>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- department -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-id-card-clip"></i>
                                    </span>
                                    <select class="form-select form-control form-control show-tick input"
                                        asp-for="DepartmentId" placeholder="City">
                                        <option>- Departments -</option>
                                        @foreach (var item in Dep.GetAll())
                                        {
                                            <option value="@item.DepartmentId">@item.Name</option>
                                        }
                                    </select>
                                    <label for="floatingInput">- Departments -</label>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- time -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-clock"></i>
                                    </span>
                                    <select class="form-select form-control form-control show-tick input"
                                        asp-for="ShiftId" placeholder="Time shift ">
                                        @foreach (var item in Serv.GetAllShifts())
                                        {
                                            <option value="@item.Id">@item.StartShift.ToString("t") -
                                                @item.EndShift.ToString("t")</option>
                                        }
                                    </select>
                                    <label for="Timeshift">- Time shift -</label>
                                    <span asp-validation-for="ShiftId" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <!-- gender -->
                            <div class="col-sm-6 mb-3">
                                <label class="col-form-label col-sm-3 col-md-2 label-align d-inline">
                                    Gender
                                </label>
                                <div class="col-8 col-sm-8 col-md-8 floatingInput">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="flat " value="male" checked name="Gender" />
                                            male
                                        </label>
                                    </div>
                                    <div class="radio mt-1">
                                        <label>
                                            <input type="radio" class="flat" value="fmale" name="Gender" />
                                            fmale
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Doctor's Account Information  -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Doctor's Account Information</h3>
                        @*<small>Description text here...</small>*@
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!--Email  -->
                            <div class="col-sm-12 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control input" asp-for="Email"
                                        placeholder="Enter Your Email" required />
                                    <label for="floatingInput">Enter Your Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    <input type="password" class="form-control password input" asp-for="Password"
                                        placeholder="Password" required name="password" />
                                    <label for="floatingInput">Password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Confirm Password -->
                            <div class="col-sm-6 mb-3">
                                <div class="form-floating input-group">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-lock"></i>
                                    </span>
                                    <input type="password" class="form-control password input"
                                        placeholder="Confirm Password" required name="password"
                                        @*pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" title="Minimum 8
                                            Characters Including An Upper And Lower Case Letter, A Number And A Unique
                                            Character"*@ />
                                    <label for="floatingInput">Confirm Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Doctor Social Media Info -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="header ms-3 pt-2">
                        <h3>Doctor Social Media Info</h3>
                        @*<small>Description text here...</small>*@
                    </div>
                    <div class="body social">
                        <div class="row clearfix">
                            <!-- facebook -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="facebook">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </span>
                                    <input type="text" for="facebook" asp-for="Facebook" class="form-control"
                                        placeholder="facebook" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <!-- twitter -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="twitter">
                                        <i class="fa-brands fa-twitter"></i>
                                    </span>
                                    <input type="text" for="twitter" asp-for="Twitter" class="form-control"
                                        placeholder="twitter" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <!-- whatsapp -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="whatsapp">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </span>
                                    <input type="text" for="whatsapp" asp-for="Whatsapp" class="form-control"
                                        placeholder="whatsapp" aria-label="Username" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button type="submit" class="btn btn-primary Submit">Create</button>
                                <button onclick="history.back()" class="btn btn-secondary"><i
                                        class="fas fa-angle-double-left"></i> Back </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
