@model DAL.Models.DoctorWorkVM

@{
    ViewBag.Title = "GetAllPatientSurgery";

}
@inject BLL.Services.PatientSurgeryServices.IPatientSurgeryServices patientSurgery


<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">All Patient Surgery</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                All Patient Surgery
            </li>
        </ol>
    </nav>
</div>
<input type="hidden" id="Names" value="@Model.Name" />
<input type="hidden" id="Phones" value="@Model.Phone" />
<input type="hidden" id="Addresss" value="@Model.Address" />
<input type="hidden" id="Dates" value="@DateTime.Now" />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="card">
            <div class="card-header">
            </div>
            <!-- /.card-header -->
            <div class="card-body patients-wating">
                <table id="example1" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Surgery Name</th>
                            <th>Date And Time</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in patientSurgery.GetAll(Model.Id))
                        {
                            <tr>
                                <th>@Model.Name</th>
                                <th>@item.SurgeryName</th>
                                <th>@item.OrderDateAndTime</th>
                                <th>
                                    <a asp-action="PatientSurgeryDetails" asp-controller="DoctorPages" class="btn btn-success">Details</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Patient Name</th>
                            <th>Surgery Name</th>
                            <th>Date And Time</th>
                            <th>Details</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/receptionist dashbord/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/receptionist dashbord/plugins/jszip/jszip.min.js"></script>
<script src="~/receptionist dashbord/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/receptionist dashbord/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="~/receptionist dashbord/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/receptionist dashbord/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>

