@model DAL.Models.PatientViewModel
@{
    ViewData["Title"] = "View Patient";
    Layout = "~/Views/Shared/Layout/_NewLayout.cshtml";
    int age = 0;
    age = DateTime.Now.Subtract(Model.BirthDate).Days;
    age = age / 365;
}
@inject BLL.Services.SurgeryDoctorServices.ISurgeryDoctorServices data;
@inject BLL.Services.PatientLabServices.IPatientLabServices patientLap
@inject BLL.Services.PatientRediologyServices.IPatientRediologyServices patientRediology
@inject BLL.Services.PatientRoomServices.IPatientRoomServices patientRoom
@inject BLL.Services.PatientSurgeryServices.IPatientSurgeryServices patientSurgery
@inject BLL.Services.PatientMedicineServices.IPatientMedicineServices patientmedicine


<section class="content patient-infs">
    <div class="container-fluid">
        <div class="mt-5 mb-2 p-2">
            <!-- patient info -->
            <div class="bg">
                <div class="info-div row align-items-end justify-content-start">
                    <h5 class="col-sm-6 col-md-3 info-header">patient info</h5>
                    <hr class="col w-100">
                </div>
                <!-- img -->
                @if (Model.photo != null)
                {
                    <div class="row">
                        <img src="~/Files/Photos/@Model.photo" class="col-3 w-100 rounded" />
                    </div>
                }
                <!-- info -->
                <div class="row clearfix">
                    <!--  Name -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text">
                                <i class="fas fa-user">
                                </i>
                            </span>
                            <p class="form-control ">@Model.Name</p>
                        </div>
                    </div>
                    <!-- National Number -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                            <p class="form-control ">@Model.SSN</p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- Date -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                            <p class="form-control ">@age</p>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-map-marked-alt"></i>
                            </span>
                            <p class="form-control ">@Model.Address </p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <!-- Phone -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone-alt"></i></span>
                            <p class="form-control ">@Model.Phone</p>
                        </div>
                    </div>
                    <!-- other Phone -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
                            <p class="form-control ">@Model.AnotherPhone</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- action the patient do it -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="info-div row align-items-end justify-content-start">
                    <h5 class="col-sm-6 col-md-3 info-header">action the patient do it</h5>
                    <hr class="col w-100">
                </div>
                <div class="row">
                    <!-- Surgery -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingOne">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#operations-collapseOne" aria-expanded="false"
                                aria-controls="operations-collapseOne">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/cardiogram.png" class="col-2" />
                            <span class="col-8"> Surgery</span>
                        </button>
                    </h2>
                    <!-- Analysis -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingTwo">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#analyzing-collapseTwo" aria-expanded="false"
                                aria-controls="analyzing-collapseTwo">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/blood-test.png" class="col-2" />
                            <span class="col-8"> Analysis</span>
                        </button>
                    </h2>
                    <!-- Radiology -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#radiology-collapseThree" aria-expanded="false"
                                aria-controls="radiology-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/x-ray2.png" class="col-2" />
                            <span class="col-8"> Radiology</span>
                        </button>
                    </h2>
                    <!-- Medicines -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#Medicines-collapseThree" aria-expanded="false"
                                aria-controls="Medicines-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/telemedicine.png" class="col-2" />
                            <span class="col-8"> Medicines</span>
                        </button>
                    </h2>
                    <!-- Room -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#Reservation-collapseThree" aria-expanded="false"
                                aria-controls="Reservation-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/healthcare.png" class="col-2" />
                            <span class="col-8"> Room</span>
                        </button>
                    </h2>
                    <!-- Treatment -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#consultation-collapseThree" aria-expanded="false"
                                aria-controls="consultation-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/telemedicine.png" class="col-2" />
                            <span class="col-8"> Treatment</span>
                        </button>
                    </h2>
                </div>
                <!--  accordion-item / tables -->
                <!-- operations -->
                <div class="accordion-item">
                    <div id="operations-collapseOne" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Analysis name</th>
                                            <th>Doctor Who Order </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientLap.GetAllUnActive(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.LapName</th>
                                                 <th>@item.DoctorNameorder</th>
                                              


                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Analysis Name</th>
                                           <th>Doctor Who Order </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../operations/patient table operations.html" target="_blank"
                                       class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->

                        </div>
                    </div>
                </div>
                <!-- Analysis -->
                <div class="accordion-item">
                    <div id="analyzing-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Analysis name</th>
                                            <th>Doctor Who Order </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientLap.GetAllUnActive(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.LapName</th>
                                                 <th>@item.DoctorNameorder</th>
                                              


                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Analysis Name</th>
                                           <th>Doctor Who Order </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../analyzes/patient table analyze.html" target="_blank"
                                       class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!--Un Done analyze-->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Analysis name</th>
                                            <th>Doctor who Order</th>
                                            <th>Doctor Analysis </th>
                                            <th>Result </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientLap.GetAll(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.LapName</th>
                                                 <th>@item.DoctorNameorder</th>
                                                <th>@item.DoctorNamework </th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th><a asp-action="PatientLabDetails" asp-controller="DoctorPages" asp-route-id="@item.Id">View Resulet</a></th>
                                                }
                                                else
                                                {

                                                    <th>No  Result </th>
                                                }


                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Analysis Name</th>
                                             <th>Doctor who Order</th>
                                            <th>Doctor Analysis </th>
                                            <th>Result </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../analyzes/patient table analyze.html" target="_blank"
                                       class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- radiology -->
                <div class="accordion-item">
                    <div id="radiology-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="radiology-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Radiology Name</th>
                                            <th>Result</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientRediology.GetAll(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.RadiologyName</th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th><a asp-action="PatientLabDetails" asp-controller="DoctorPages" asp-route-id="@item.Id">View Resulet</a></th>
                                                }
                                                else
                                                {

                                                    <th>No  Result </th>
                                                }


                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Radiology Name</th>
                                            <th>Result</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../radiology/patient tableradiology.html" target="_blank"
                                       class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- Medicines -->
                <div class="accordion-item">
                    <div id="Medicines-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="Medicines-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>consultation name</th>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>consultation name</th>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>
                                                <a href="../medicine/details medicine.html" target="_blank"
                                                   class="btn btn-table">details</a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>consultation name</th>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>
                                                <a href="../medicine/details medicine.html" target="_blank"
                                                   class="btn btn-table">details</a>
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>consultation name</th>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>details</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../medicine/patient table medicine.html" target="_blank"
                                       class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="accordion-item">
                    <div id="Reservation-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="Reservation-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Floor</th>
                                            <th>Room</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientRoom.GetAll(Model.Id))
                                        {
                                        <tr>
                                            <th>@item.RoomFloor</th>
                                            <th>@item.RoomNumber</th>
                                            <th>@item.StartTime</th>
                                            <th>@item.EndTime</th>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Floor</th>
                                            <th>Room</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../rooms/patient tableroom.html" target="_blank" class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- consultation -->
                <div class="accordion-item">
                    <div id="consultation-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="consultation-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-0 ps-0">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>consultation name</th>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@foreach (var item in patientRoom.GetAll(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.</th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th><a asp-action="PatientLabDetails" asp-controller="DoctorPages" asp-route-id="@item.Id">View Resulet</a></th>
                                                }
                                                else
                                                {

                                                    <th>No  Result </th>
                                                }


                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }*@
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>consultation name</th>
                                            <th>date</th>
                                            <th>Time</th>
                                            <th>details</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row more-btn mt-2">
                                    <a href="../consultation/patient table consultation.html" target="_blank"
                                       class="col-2 btn">
                                        more...
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- action the patient  will do -->
            <!--<div class="mt-5">
                <div class="info-div row align-items-end justify-content-start">
                    <h5 class="col-sm-6 col-md-3 info-header">action the patient will do</h5>
                    <hr class="col w-100">
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 mt-3">
                        <button type="button" class="row btn btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#operations">
                            <img src="../../dist/img/backgrounds/cardiogram.png" class="col-2" />
                            <span class="col-8"> operations</span>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mt-3">
                        <button type="button" class="row btn  btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#analyzing">
                            <img src="../../dist/img/backgrounds/medical-chechup.png" class="col-2" />
                            <span class="col-8"> analyzing</span>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mt-3">
                        <button type="button" class="row btn  btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#radiologys">
                            <img src="../../dist/img/backgrounds/x-ray.png" class="col-2" />
                            <span class="col-8"> radiologys</span>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mt-3">
                        <button type="button" class="row btn  btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#Medicines">
                            <img src="../../dist/img/backgrounds/capsules.png" class="col-2" />
                            <span class="col-8"> Medicines</span>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mt-3">
                        <button type="button" class="row btn  btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#Reservation">
                            <img src="../../dist/img/backgrounds/healthcare.png" class="col-2" />
                            <span class="col-8"> Reservation</span>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mt-3">
                        <button type="button" class="row btn  btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#consultation">
                            <img src="../../dist/img/backgrounds/consultation.png" class="col-2" />
                            <span class="col-8"> consultation</span>
                        </button>
                    </div>
                </div>
            </div>-->
            <!-- Modal operations -->
            <!--<div class="modal fade" id="operations" tabindex="-1" aria-labelledby="operationsModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="operationsModalLabel">Order operation </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="mt-3 mb-2 ">
                                <div class="row clearfix add" id="operation">
                                    <div class="row">-->
            <!--operation  -->
            <!--<div class="col-md-11 mb-2">
                                            <div class="form-floating input-group">
                                                <span class="input-group-text" for="Name">
                                                    <i class="fas fa-medkit"></i>
                                                </span>
                                                <input class="form-control form-control show-tick" list="name operation"
                                                    id="exampleDataList" placeholder="operation">
                                                <datalist id="name operation">
                                                    <option value="">- operation -</option>
                                                    <option value="A medical">mohade</option>
                                                    <option value="Treatment">ali</option>
                                                    <option value="Surgery">layla</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>
                                                </datalist>
                                                <label for="floatingInput">- operation -</label>
                                            </div>
                                        </div>

                                        <div class="col-1 col-sm-1 col-md-1 mb-2">
                                            <button type="button" class="btn  btn-info mt-2 more operation-more"
                                                onclick="add('operation')">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group mt-3">
                                    <div class="mb-0 pt-2">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn  btn-save">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Modal analyzing -->
            <!--<div class="modal fade" id="analyzing" tabindex="-1" aria-labelledby="analyzingModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="analyzingModalLabel">Order analyzing </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="mt-3 mb-2">
                                <div class="row clearfix add" id="analyzes">
                                    <div class="row">-->
            <!--analyzes  -->
            <!--<div class="col-md-11 mb-2">
                                            <div class="form-floating input-group">
                                                <span class="input-group-text" for="Name">
                                                    <i class="fas fa-clipboard-list"></i></span>
                                                <input class="form-control form-control show-tick" list="name analyzes"
                                                    id="exampleDataList" placeholder="analyzes">
                                                <datalist id="name analyzes">
                                                    <option value="">- analyzes -</option>
                                                    <option value="A medical">mohade</option>
                                                    <option value="Treatment">ali</option>
                                                    <option value="Surgery">layla</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>
                                                </datalist>
                                                <label for="floatingInput">- analyzes -</label>
                                            </div>
                                        </div>
                                        <div class="col-1 mb-2">
                                            <button type="button" class="btn  btn-info mt-2 more"
                                                onclick="add('analyzes')">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group mt-3">
                                    <div class="mb-0 pt-2">
                                        <button type="submit" class="btn  btn-save">Save</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Modal radiology -->
            <!--<div class="modal fade" id="radiologys" tabindex="-1" aria-labelledby="radiologyModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="radiologyModalLabel">Order radiologys </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="mt-3 mb-2">
                                <div class="row clearfix add" id="radiology">
                                    <div class="row">-->
            <!--radiology  -->
            <!--<div class="col-md-11 mb-2">
                                            <div class="form-floating input-group">
                                                <span class="input-group-text" for="Name"><i
                                                        class="fas fa-x-ray"></i></span>
                                                <input class="form-control form-control show-tick" list="name radiology"
                                                    id="exampleDataList" placeholder="radiology">
                                                <datalist id="name radiology">
                                                    <option value="">- radiology -</option>
                                                    <option value="A medical">mohade</option>
                                                    <option value="Treatment">ali</option>
                                                    <option value="Surgery">layla</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>
                                                </datalist>
                                                <label for="floatingInput">- radiology -</label>
                                            </div>
                                        </div>

                                        <div class="col-1 col-sm-1 col-md-1 mb-2">
                                            <button type="button" class="btn  btn-info mt-2 radiology-more"
                                                onclick="add('radiology')">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group mt-3">
                                    <div class="mb-0 pt-2">
                                        <button type="submit" class="btn  btn-save">Save</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Modal Medicines -->
            <!--<div class="modal fade" id="Medicines" tabindex="-1" aria-labelledby="MedicinesModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="MedicinesModalLabel">Order Medicines </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="mt-3 mb-2">
                                <div class="row clearfix add" id="Medicine">
                                    <div class="row">-->
            <!--Medicine  -->
            <!--<div class="col-md-11 mb-2">
                                            <div class="form-floating input-group">
                                                <span class="input-group-text" for="Name">
                                                    <i class="fas fa-capsules"></i>
                                                </span>
                                                <input class="form-control form-control show-tick" list="name Medicine"
                                                    id="exampleDataList" placeholder="Medicine">
                                                <datalist id="name Medicine">
                                                    <option value="">- Medicines -</option>
                                                    <option value="A medical">ss</option>
                                                    <option value="Treatment">alii</option>
                                                    <option value="Surgery">laylaa</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>
                                                </datalist>
                                                <label for="floatingInput">- Medicines -</label>
                                            </div>
                                        </div>
                                        <div class="col-1 col-sm-1 col-md-1 mb-2">
                                            <button type="button" class="btn  btn-info mt-2 more"
                                                onclick="add('Medicine')">+</button>
                                        </div>
                                    </div>
                                    <div class="mb-3 mt-2">
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer form-group mt-3">
                                    <div class="mb-0 pt-2">
                                        <button type="submit" class="btn  btn-save">Save</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>-->
            <!-- Modal reservation -->
            <!--<div class="modal fade" id="Reservation" tabindex="-1" aria-labelledby="ReservationModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ReservationModalLabel">Order Reservation </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="mt-3 mb-2">
                                <div class="row clearfix add" id="room">
                                    <div class="row">-->
            <!-- floor  -->
            <!--<div class="col-md-6 col-sm-12 mb-2">
                <div class="form-floating input-group">
                    <span class="input-group-text" for="Name">
                        <i class="fas fa-hospital"></i>
                    </span>
                    <input class="form-control form-control show-tick"
                        list="name reservation" id="exampleDataList"
                        placeholder="reservation">
                    <datalist id="name reservation">
                        <option value="">- floor -</option>
                        <option value="A medical">mohade</option>
                        <option value="Treatment">ali</option>
                        <option value="Surgery">layla</option>
                        <option value="X-ray work">reeam</option>
                        <option value="Emergency">ahmed</option>
                    </datalist>
                    <label for="floatingInput">- floor -</label>
                </div>
            </div>-->
            <!-- room  -->
            <!--<div class="col-11 col-sm-11 col-md-5 mb-2">
                                            <div class="form-floating input-group">
                                                <span class="input-group-text" for="Name">
                                                    <i class="fas fa-procedures"></i>
                                                </span>
                                                <input class="form-control form-control show-tick"
                                                    list="name reservation" id="exampleDataList"
                                                    placeholder="name reservation">
                                                <datalist id="name reservation">
                                                    <option value="">- room -</option>
                                                    <option value="A medical">mohade</option>
                                                    <option value="Treatment">ali</option>
                                                    <option value="Surgery">layla</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>
                                                </datalist>
                                                <label for="floatingInput">- room -</label>
                                            </div>
                                        </div>
                                        <div class="col-1 col-sm-1 col-md-1 mb-2">
                                            <button type="button" class="btn  btn-info mt-2 more reservation-more"
                                                onclick="add('room')">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group mt-3">
                                    <div class="mb-0 pt-2">
                                        <button type="submit" class="btn  btn-save">Save</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>-->
            <!-- Modal consultations -->
            <!--<div class="modal fade" id="consultation" tabindex="-1" aria-labelledby="consultationModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="consultationModalLabel">Order consultation </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="mt-3 mb-2">
                                <div class="row clearfix add" id="consultations">
                                    <div class="row">-->
            <!--consultations  -->
            <!--<div class="col-md-11 mb-2">
                                            <div class="form-floating input-group">
                                                <span class="input-group-text" for="Name"><i
                                                        class="fas fa-x-ray"></i></span>
                                                <input class="form-control form-control show-tick"
                                                    list="name consultations" id="exampleDataList"
                                                    placeholder="consultations">
                                                <datalist id="name consultations">
                                                    <option value="">- User name -</option>
                                                    <option value="A medical">mohade</option>
                                                    <option value="Treatment">ali</option>
                                                    <option value="Surgery">layla</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>
                                                </datalist>
                                                <label for="floatingInput">- consultations -</label>
                                            </div>
                                        </div>
                                        <div class="col-1 col-sm-1 col-md-1 mb-2">
                                            <button type="button" class="btn  btn-info mt-2 more"
                                                onclick="add('consultations')">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group mt-3">
                                    <div class="mb-0 pt-2">
                                        <button type="submit" class="btn  btn-save">Save</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>-->
        </div>
    </div><!-- /.container-fluid -->
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
