@model DAL.Models.PatientViewModel
@inject SignInManager<IdentityUser> signInManager;
@*<link rel="stylesheet" href="~/receptionist dashbord/dist/css/style.css">
*@
<link href="~/website/css/style.css" rel="stylesheet">
@{
    ViewData["Title"] = "View Patient";
    if (signInManager.IsSignedIn(User) && User.IsInRole("Patient"))
    {
        Layout = "/Views/Shared/Layout/HCRWebsiteLayout.cshtml";

    }
    //Layout = "~/Views/Shared/Layout/_NewLayout.cshtml";
    int age = 0;
    age = DateTime.Now.Subtract(Model.BirthDate).Days;
    age = age / 365;
}
@inject BLL.Services.SurgeryDoctorServices.ISurgeryDoctorServices data;
@inject BLL.Services.PatientLabServices.IPatientLabServices patientLap
@inject BLL.Services.PatientRediologyServices.IPatientRediologyServices patientRediology
@inject BLL.Services.PatientRoomServices.IPatientRoomServices patientRoom
@inject BLL.Services.PatientSurgeryServices.IPatientSurgeryServices patientSurgery
@inject BLL.Services.PatientMedicineServices.IPatientMedicineServices patientmedicine
@inject BLL.Services.MedicineServices.IMedicineServices MedicineServices
<input type="hidden" id="Names" value="@Model.Name" />
<input type="hidden" id="Phones" value="@Model.Phone" />
<input type="hidden" id="Addresss" value="@Model.Address" />
<input type="hidden" id="Dates" value="@DateTime.Now" />
<div id="breadcrumb" class="division">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder p-2 ">

                    <!-- Breadcrumb Nav -->
                    <nav aria-label="breadcrumb">
                        @if (Model.photo != null)
                        {
                            <div class="col-4 rounded">
                                <img src="~/Files/Photos/@Model.photo" class=""
                                style="width: 140px;height: 140px;margin-left: 15px;border-radius: 50%;" />
                            </div>
                        }
                    </nav>
                    <!-- Title -->
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</div> <!-- END BREADCRUMB -->
<section class="content patient-infs">
    <div class="container">
        <div class="mt-2 mb-2 p-2">
            <!-- patient info -->
            <div class="bg">
                <!-- info -->
                <div class="row clearfix mt-2 mb-2">
                    <!--  Name -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text">
                                <i class="fas fa-user">
                                </i>
                            </span>
                            <p class="form-control " id="p-form-control">@Model.Name</p>
                        </div>
                    </div>
                    <!-- National Number -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                            <p class="form-control " id="p-form-control">@Model.SSN</p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix mt-1">
                    <!-- Date -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                            <p class="form-control " id="p-form-control">@age</p>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-map-marked-alt"></i>
                            </span>
                            <p class="form-control " id="p-form-control">@Model.Address </p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix mt-1">
                    <!-- Phone -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone-alt"></i></span>
                            <p class="form-control " id="p-form-control">@Model.Phone</p>
                        </div>
                    </div>
                    <!-- other Phone -->
                    <div class="col-sm-6 mb-1 mt-1">
                        <div class="form-floating input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
                            <p class="form-control " id="p-form-control">@Model.AnotherPhone</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- action the patient do it -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="info-div row align-items-end justify-content-start">
                    <h5 class="col-sm-6 col-md-3 info-header">action the patient do it</h5>
                    <hr class="col w-100">
                </div>
                <div class="row">
                    <!-- Surgery -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingOne">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#operations-collapseOne" aria-expanded="false"
                            aria-controls="operations-collapseOne">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/cardiogram.png" class="col-2" />
                            <span class="col-8"> Surgery</span>
                        </button>
                    </h2>
                    <!-- Analysis -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingTwo">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#analyzing-collapseTwo" aria-expanded="false"
                            aria-controls="analyzing-collapseTwo">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/blood-test.png" class="col-2" />
                            <span class="col-8"> Analysis</span>
                        </button>
                    </h2>
                    <!-- Radiology -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#radiology-collapseThree" aria-expanded="false"
                            aria-controls="radiology-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/x-ray2.png" class="col-2" />
                            <span class="col-8"> Radiology</span>
                        </button>
                    </h2>
                    <!-- Treatment -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#Medicines-collapseThree" aria-expanded="false"
                            aria-controls="Medicines-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/telemedicine.png" class="col-2" />
                            <span class="col-8"> Treatment</span>
                        </button>
                    </h2>
                    <!-- Room -->
                    <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                        <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#Reservation-collapseThree" aria-expanded="false"
                            aria-controls="Reservation-collapseThree">
                            <img src="~/receptionist dashbord/dist/img/backgrounds/healthcare.png" class="col-2" />
                            <span class="col-8"> Room</span>
                        </button>
                    </h2>
                </div>
                <!--  accordion-item / tables -->
                <!-- operations -->
                <div class="accordion-item mt-4 table-data">
                    <div id="operations-collapseOne" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.Un Done Surgery -->

                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="" class="table table-bordered table-striped ">
                                    <caption
                                        style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                        <b><i>Surgery Order</i></b>
                                    </caption>

                                    <thead>
                                        <tr>
                                            <th>Surgery Name</th>
                                            <th>Doctor Who Order</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientSurgery.GetAllUnActive(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.SurgeryName</th>
                                                <th>@item.DoctorNameorder</th>
                                                <th>@item.OrderDateAndTime</th>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Surgery Name</th>
                                            <th>Doctor Who Order </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <hr />
                            <!-- /.Done Surgery -->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="ex1" class="table table-bordered table-striped example1">
                                    <caption
                                        style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                        <b><i>Completed Surgery</i></b>
                                    </caption>

                                    <thead>
                                        <tr>
                                            <th>Surgery Name</th>
                                            <th>Surgery Doctor </th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientSurgery.GetAll(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.SurgeryName</th>
                                                <th>@item.DoctorNameorder</th>
                                                <th>@item.DoneDateAndTime</th>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Surgery Name</th>
                                            <th>Surgery Doctor</th>
                                            <th>DateAndTime</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                @* <div class="row more-btn mt-2">
                                    <a class="col-2 btn" asp-action="GetAllPatientSurgery" asp-controller="Patient"
                                    asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                    </a>
                                    </div>*@
                            </div>
                            <!-- /.card-body -->

                        </div>
                    </div>
                </div>
                <!--analyze-->
                <div class="accordion-item mt-4 table-data">
                    <div id="analyzing-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!--Un Done analyze-->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="ex2" class="table table-bordered table-striped example1">
                                    <caption
                                        style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                        <b><i>Un Completed Analysis</i></b>
                                    </caption>

                                    <thead>
                                        <tr>
                                            <th>Analysis Name</th>
                                            <th>Doctor Who Order </th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientLap.GetAllUnActive(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.LapName</th>
                                                <th>@item.DoctorNameorder</th>



                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Analysis Name</th>
                                            <th>Doctor Who Order </th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <hr />
                            <!-- Analysis That Finished -->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="ex3" class="table table-bordered table-striped">
                                    <caption
                                        style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                        <b><i>Completed Analysis</i></b>
                                    </caption>

                                    <thead>
                                        <tr>
                                            <th>Analysis Name</th>
                                            <th>Doctor who Order</th>
                                            <th>Doctor Analysis</th>
                                            <th>Result</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientLap.GetAll(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.LapName</th>
                                                <th>@item.DoctorNameorder</th>
                                                <th>@item.DoctorNamework </th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th>
                                                        <a asp-action="PatientLabDetails" asp-controller="Patient"
                                                    asp-route-id="@item.Id">View Result</a>
                                                    </th>
                                                }
                                                else
                                                {

                                                    <th>No Result </th>
                                                }


                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Analysis Name</th>
                                            <th>Doctor who Order</th>
                                            <th>Doctor Analysis</th>
                                            <th>Result</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                @* <div class="row more-btn mt-2">
                                    <a class="col-2 btn" asp-action="GetAllPatientLab" asp-controller="Patient"
                                    asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                    </a>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                </div>
                <!-- radiology -->
                <div class="accordion-item mt-4 table-data">
                    <div id="radiology-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="radiology-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!--Un Done radiology-->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="ex4" class="table table-bordered table-striped">
                                    <caption
                                        style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                        <b><i> Radiology Order</i></b>
                                    </caption>

                                    <thead>
                                        <tr>
                                            <th>Radiology Name</th>
                                            <th>Doctor who Order</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientRediology.GetAllUnActive(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.RadiologyName</th>
                                                <th>@item.DoctorNameorder</th>
                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Radiology Name</th>
                                            <th>Doctor who Order</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <hr />
                            <!-- radiology That Finished-->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="ex5" class="table table-bordered table-striped">
                                    <caption
                                        style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                        <b><i>Completed Radiology </i></b>
                                    </caption>

                                    <thead>
                                        <tr>
                                            <th>Radiology Name</th>
                                            <th>Doctor who Order</th>
                                            <th>Doctor Radiology</th>
                                            <th>Result</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientRediology.GetAll(Model.Id))
                                        {

                                            <tr>

                                                <th>@item.RadiologyName</th>
                                                <th>@item.DoctorNameorder</th>
                                                <th>@item.DoctorNamework </th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th>
                                                        <a asp-action="PatientRadiologyDetails" asp-controller="Patient"
                                                    asp-route-id="@item.Id">View Result</a>
                                                    </th>
                                                }
                                                else
                                                {

                                                    <th>No Result </th>
                                                }
                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Radiology Name</th>
                                            <th>Doctor who Order</th>
                                            <th>Doctor Radiology</th>
                                            <th>Result</th>
                                            <th>Date And Time</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                @* <div class="row more-btn mt-2">
                                    <a class="col-2 btn" asp-action="GetAllPatientRadiology" asp-controller="Patient"
                                    asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                    </a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Medicines -->
                <div class="accordion-item mt-4 table-data">
                    <div id="Medicines-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="Medicines-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="example1" class="table table-bordered table-striped">

                                    <thead>
                                        <tr>
                                            <th>Docter Name</th>
                                            <th>Pharmacist Name</th>
                                            <th>Notes</th>
                                            <th>Date And Time</th>
                                            <th>Details</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in MedicineServices.GetAllTreatment(Model.Id))
                                        {
                                            <tr>

                                                <th>@item.DocterName</th>
                                                <th>@item.PharmacistName</th>
                                                <th>@item.Notes</th>
                                                <th>@item.DoneDateAndTime</th>
                                                <th>
                                                    <a asp-action="PatientTreatmentDetails" asp-controller="Patient"
                                                    asp-route-Id="@item.Id" asp-route-pataintid="@Model.Id"
                                                    class="btn btn-primary">Details</a>
                                                </th>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Docter Name</th>
                                            <th>Pharmacist Name</th>
                                            <th>Notes</th>
                                            <th>Date And Time</th>
                                            <th>Details</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                @* <div class="row more-btn mt-2">
                                    <a class="col-2 btn" asp-action="GetAllPatientTreatment" asp-controller="Patient"
                                    asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                    </a>
                                    </div>*@
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- Room -->
                <div class="accordion-item mt-4 table-data">
                    <div id="Reservation-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="Reservation-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="card mb-0">
                            <!-- /.card-header -->
                            <div class="card-body patients-wating pe-3 ps-3">
                                <table id="ex7" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Floor</th>
                                            <th>Room</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in patientRoom.GetAll(Model.Id))
                                        {
                                            <tr>
                                                <th>@item.RoomFloor</th>
                                                <th>@item.RoomNumber</th>
                                                <th>@item.StartTime</th>
                                                <th>@item.EndTime</th>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Floor</th>
                                            <th>Room</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                @* <div class="row more-btn mt-2">
                                    <a class="col-2 btn" asp-action="GetAllPatientRoom" asp-controller="Patient"
                                    asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                    </a>
                                    </div>*@
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div><!-- /.container-fluid -->
</section>

<script src="~/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {

        //$("#ex7").DataTable({
        //           "responsive": true, "lengthChange": false, "autoWidth": false,
        //           "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        //       }).buttons().container().appendTo('#ex7_wrapper .col-md-6:eq(0)' );

        for (let i = 1; i < 10; i++) {

            $("#ex" + i).DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#ex' + i + '_wrapper .col-md-6:eq(0)');

        }

    });

</script>
