@inject BLL.Services.StatisticServices.IStatisticServices Statistics
@inject BLL.Services.PatientServices.IPatientServices patient

@{
  ViewData["Title"] = "Index";
}
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3 class=" text-light">@Statistics.NumberOfPatient()</h3>
            <p class=" text-light">Total Patients</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3 class=" text-light">@Statistics.NumberOfDoctors()<sup style="font-size: 20px"></sup></h3>
            <p class=" text-light"> Total Doctors</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3 class=" text-light">@Statistics.NumberOfNurses()</h3>
            <p class=" text-light">Total Nurses</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger tex">
          <div class="inner">
            <h3 class=" text-light">@Statistics.NumberOfDepartments()</h3>
            <p class=" text-light">Total Departments</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<!-- top tiles -->
@* <div class="row">
  <div class="tile_count w-100">
  <a href="/Patient/GetAll">
  <div class="col-md-2 col-sm-4 tile_stats_count mt-2">
  <span class="count_top"><i class="fas fa-user"></i> Total Patients</span>
  <div class="count">@Statistics.NumberOfPatient()</div>
  </div>
  </a>
  <a href="/Doctor/GetAllDoctor">
  <div class="col-md-2 col-sm-4 tile_stats_count mt-2">
  <span class="count_top"><i class="fas fa-clock-o"></i> Total Doctors</span>
  <div class="count">@Statistics.NumberOfDoctors()</div>
  </div>
  </a>
  <a href="/Nurse/GetAllNurse">
  <div class="col-md-2 col-sm-4 tile_stats_count mt-2">
  <span class="count_top"><i class="fas fa-user"></i> Total Nurses</span>
  <div class="count green">@Statistics.NumberOfNurses()</div>
  </div>
  </a>
  <a href="/Department/GetAllDepartments">
  <div class="col-md-2 col-sm-4 tile_stats_count mt-2">
  <span class="count_top"><i class="fas fa-user"></i>Total Departments</span>
  <div class="count">@Statistics.NumberOfDepartments()</div>

  </div>
  </a>

  <a href="/Room/ViewAllRoom">
  <div class="col-md-2 col-sm-4 tile_stats_count mt-2">
  <span class="count_top"><i class="fas fa-user"></i> Total Rooms</span>
  <div class="count">@Statistics.NumberOfRooms()</div>
  </div>
  </a>
  <div class="col-md-2 col-sm-4 tile_stats_count mt-2">
  <span class="count_top"><i class="fas fa-user"></i> Total Empty Rooms</span>
  <div class="count">@Statistics.NumberOfEmptyRooms()</div>
  </div>
  </div>
  </div> *@
<!-- /top tiles -->












<!-- table next patient Visitors  -->
@*<table class="table-Visitors table table-striped w-100">
  <thead>
  <tr class="table-dark">
  <th scope="col" class="numbers">#</th>
  <th scope="col">Patients</th>
  <th scope="col">Adress</th>
  <th scope="col">phone</th>

  </tr>
  </thead>
  <tbody>
  <tr>
  <th scope="row" class="numbers">
  <p>1</p>
  </th>
  <td class="w-20">
  <img src="../dist/images/Patients/Mark.jpg"
  class="w-25 rounded-circle me-3" alt="Mark" title="Mark"> Mark
  </td>
  <td class="w-25">
  <p class="">70 Bowman St. South Windsor</p>
  </td>
  <td class="width-table">
  <p>01095110790</p>
  </td>
  </tr>

  </tbody>
  </table>*@
<!-- /page content -->


<!-- chart -->
@* <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js "></script>
<script>
  const ctx1 = document.getElementById('myChart1').getContext('2d');
  const myChart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: ['January ', 'February ', 'March ', 'April ', 'May ', 'June ', 'July ', 'August ', 'September ', 'October',
        'November', 'December '],
      datasets: [{
        label: '# of Votes',
        data: [6, 12, 7, 10, 2, 6, 4, 15, 9, 9, 7, 6],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'

        ],
        borderColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderWidth: 2,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const config = {
    type: 'pie',
    data: data,
  };
  const data = document.getElementById('data').getContext('2d');
  data = {
    labels: [
      'Red',
      'Blue',
      'Yellow'
    ],
    datasets: [{
      label: 'My First Dataset',
      data: [300, 50, 100],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
      ],
      hoverOffset: 4
    }]
  };
</script> *@

<!-- Custom Theme Scripts -->
