@model IEnumerable<DAL.Models.vacation.VacationTypeViewModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VacationType</title>
</head>
<body>
    <div class="col">
        <div class="col-md-12">

        
<p>
    <a asp-action="Create" class="btn btn-info">Create New VacationType</a>
</p>
    <table id="example1" class="table  Actions">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationName)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Background)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationName)
            </td>
            <td style="color:white;background-color:@item.Background">
                @Html.DisplayFor(modelItem => item.Background)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDays)
            </td>
            <td>
                @Html.ActionLink("Edit", "Updatevacation",  new { id=item.Id },htmlAttributes:new{@class="btn  btn-info "}) |
                @Html.ActionLink("Delete", "Delete",  new { id=item.Id },htmlAttributes:new{@class="btn  btn-danger "})
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    </div>
</body>
</html>
