@model DAL.Models.DoctorWorkVM
@{
    ViewData["Title"] = "HCR | Doctor Work";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";
    int age = 0;
    age = DateTime.Now.Subtract(Model.BirthDate).Days;
    age = age / 365;

}
@inject BLL.Services.LabServices.ILabServices Lab
@inject BLL.Services.MedicineServices.IMedicineServices Medicine
@inject BLL.Services.RepologeyServices.IRepologeyServices Repologey
@inject BLL.Services.RoomServices.IRoomServices Room
@inject BLL.Services.PatientMedicineServices.IPatientMedicineServices patientmedicine
@inject BLL.Services.PatientLabServices.IPatientLabServices patientLap
@inject BLL.Services.PatientRediologyServices.IPatientRediologyServices patientRediology
@inject BLL.Services.PatientRoomServices.IPatientRoomServices patientRoom
@inject BLL.Services.PatientSurgeryServices.IPatientSurgeryServices patientSurgery
<input type="hidden" id="Names" value="@Model.Name" />
<input type="hidden" id="Phones" value="@Model.Phone" />
<input type="hidden" id="Addresss" value="@Model.Address" />
<input type="hidden" id="Dates" value="@DateTime.Now" />
@section PageHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Patient Profile</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Patient Profile</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}
<div class="mt-5 mb-2 p-2">
    <!-- Patient info -->
    <div>
        <div class="info-div row align-items-end justify-content-start">
            <h5 class="col-sm-6 col-md-3 info-header">Patient Info</h5>
            <hr class="col w-100">
        </div>
        <!-- img -->
        @if (Model.photo != null)
        {
            <div class="row">
                <img src="~/Files/Photos/@Model.photo" class="col-3 w-100 rounded" />
            </div>
        }

        <!-- info -->
        <div class="row clearfix">
            <!--  Name -->
            <div class="col-sm-6 mb-2 mt-2">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-user">
                        </i>
                    </span>
                    <p class="form-control ">Name : @Model.Name</p>
                </div>
            </div>
            <!-- National Number -->
            <div class="col-sm-6 mb-2 mt-2">
                <div class="form-floating input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-address-card"></i>
                    </span>
                    <p class="form-control "> Adress : @Model.Address</p>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <!-- Date -->
            <div class="col-sm-6 mb-2 mt-2">
                <div class="form-floating input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <p class="form-control "> Age : @age </p>
                </div>
            </div>
            <!-- Address -->
            <div class="col-sm-6 mb-2 mt-2">
                <div class="form-floating input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <p class="form-control "> Gender : @Model.Gender </p>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <!-- Phone -->
            <div class="col-sm-6 mb-2 mt-2">
                <div class="form-floating input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <p class="form-control ">Phone : @Model.Phone</p>
                </div>
            </div>
            <!-- other Phone -->
            <div class="col-sm-6 mb-2 mt-2">
                <div class="form-floating input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                    <p class="form-control ">Another Phone : @Model.AnotherPhone</p>
                </div>
            </div>
        </div>
    </div>
    <!-- action the patient do it -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="info-div row align-items-end justify-content-start">
            <h5 class="col-sm-6 col-md-3 info-header">Patient History</h5>
            <hr class="col w-100">
        </div>
        <div class="row">
            <!-- Surgery -->
            <h2 class="col-12 col-sm-12 col-md-4 accordion-header Surgery " id="flush-headingOne">
                <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#operations-collapseOne" aria-expanded="false"
                        aria-controls="operations-collapseOne">
                    <img src="~/receptionist dashbord/dist/img/backgrounds/cardiogram.png" class="col-2" />
                    <span class="col-8"> Surgery</span>
                </button>
            </h2>
            <!-- Analyzing -->
            <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingTwo">
                <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#analyzing-collapseTwo" aria-expanded="false"
                        aria-controls="analyzing-collapseTwo">
                    <img src="~/receptionist dashbord/dist/img/backgrounds/blood-test.png" class="col-2" />
                    <span class="col-8"> Analysis</span>
                </button>
            </h2>
            <!-- Radiology -->
            <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#radiology-collapseThree" aria-expanded="false"
                        aria-controls="radiology-collapseThree">
                    <img src="~/receptionist dashbord/dist/img/backgrounds/x-ray2.png" class="col-2" />
                    <span class="col-8"> Radiology</span>
                </button>
            </h2>
            <!-- Medicines -->
            <!--<h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#Medicines-collapseThree"
                        aria-expanded="false" aria-controls="Medicines-collapseThree">
                    <img src="~/receptionist dashbord/dist/img/backgrounds/capsules.png" class="col-2" />
                    <span class="col-8"> Medicines</span>
                </button>
            </h2>-->
            <!-- Room -->
            <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#Reservation-collapseThree" aria-expanded="false"
                        aria-controls="Reservation-collapseThree">
                    <img src="~/receptionist dashbord/dist/img/backgrounds/healthcare.png" class="col-2" />
                    <span class="col-8"> Room</span>
                </button>
            </h2>
            <!-- Treatment -->
            <h2 class="col-12 col-sm-12 col-md-4 accordion-header" id="flush-headingThree">
                <button class="row accordion-button btn-info rounded mt-3 collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#consultation-collapseThree" aria-expanded="false"
                        aria-controls="consultation-collapseThree">
                    <img src="~/receptionist dashbord/dist/img/backgrounds/telemedicine.png" class="col-2" />
                    <span class="col-8"> Treatment</span>
                </button>
            </h2>
        </div>
        <!--  accordion-item / tables -->
        <!-- Surgery -->
        <div class="accordion-item">
            <div id="operations-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="card mb-0">
                    <!-- /.card-header -->
                    <div class="card-body patients-wating pe-0 ps-0">
                        <table id="example1" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Surgery Name</th>
                                    <th>Date And Time</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in patientSurgery.GetAll(Model.Id))
                                {
                                    <tr>
                                        <th>@item.SurgeryName</th>
                                        <th>@item.OrderDateAndTime</th>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Surgery name</th>
                                    <th>Date And Time</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="row more-btn mt-2">
                            <a class="col-2 btn" asp-action="GetAllPatientSurgery" asp-controller="DoctorPages"
                               asp-route-id="@Model.Id">
                                More ...
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- Lab -->
        <div class="accordion-item">
            <div id="analyzing-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="card mb-0">
                    <!-- /.card-header -->
                    <div class="card-body patients-wating pe-0 ps-0">
                        <table id="example1" class="table table-striped table-hover">
                            <caption style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                <b><i>The Sesssion analzes</i></b>
                            </caption>
                            <thead>
                                <tr>

                                    <th>Lab Name</th>
                                    <th>Result </th>

                                    <th>Date And Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var lab = patientLap.GetThesessionlab(Model.DailyDetectionId);
                                }
                                @if (lab == null)
                                {
                                    <div>لم يتم الطلب بعد</div>
                                }
                                else
                                {
                                    @foreach (var item in lab)
                                    {

                                        <tr>

                                            <th>@item.LapName</th>
                                            @if (item.Document != null || item.Photo != null)
                                            {
                                                <th>
                                                    <a asp-action="PatientLabDetails" asp-controller="DoctorPages"
                                                       asp-route-id="@item.Id">View Resulet</a>
                                                </th>
                                            }
                                            else
                                            {

                                                <th>No Result </th>
                                            }


                                            <th>@item.DateAndTime</th>

                                        </tr>
                                    }
                                }


                            </tbody>
                            <tfoot>
                                <tr>

                                    <th>Lab Name</th>
                                    <th>Result </th>

                                    <th>Date And Time</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.card-body -->
                    <div class="card mb-0">
                        <!-- /.card-header -->
                        <div class="card-body patients-wating">
                            <table id="example1" class="table table-bordered table-striped table-hover">
                                <caption style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                    <b><i>All Last analysis</i></b>
                                </caption>

                                <thead>
                                    <tr>

                                        <th>Analysis Name</th>
                                        <th>Result </th>

                                        <th>Date And Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var lab1 = patientLap.GetTheLast(Model.Id);
                                    }
                                    @foreach (var item in lab1)
                                    {
                                        @if (item.DailyDetectionId == Model.DailyDetectionId)
                                        {
                                            <tr>

                                                <th>@item.LapName</th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th>
                                                        <a asp-action="PatientLabDetails" asp-controller="DoctorPages"
                                                           asp-route-id="@item.Id">View Resulet</a>
                                                    </th>
                                                }
                                                else
                                                {

                                                    <th>No Result </th>
                                                }

                                                <th>@item.DateAndTime</th>

                                            </tr>
                                        }
                                        <tr>

                                            <th>@item.LapName</th>
                                            @if (item.Document != null || item.Photo != null)
                                            {
                                                <th>
                                                    <a asp-action="PatientLabDetails" asp-controller="DoctorPages"
                                                       asp-route-id="@item.Id">View Resulet</a>
                                                </th>
                                            }
                                            else
                                            {

                                                <th>No Result </th>
                                            }
                                            <th>@item.DateAndTime</th>

                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>

                                        <th>Lab Name</th>
                                        <th>Result</th>
                                        <th>Date And Time</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="row more-btn mt-2">
                                <a asp-action="GetAllPatientLab" asp-controller="DoctorPages" class="col-2 btn"
                                   asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- Radiology -->
            <div class="accordion-item">
                <div id="radiology-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="card mb-0">
                        <!-- /.card-header -->
                        <div class="card-body patients-wating pe-0 ps-0">
                            <table id="example1" class="table  table-striped table-hover">
                                <caption style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                    <b><i>The Session Radiology</i></b>
                                </caption>

                                <thead>
                                    <tr>

                                        <th>Radiology name</th>
                                        <th>Result </th>

                                        <th>Date And Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Rediology = patientRediology.Getsession(Model.DailyDetectionId);
                                    }
                                    @if (Rediology == null)
                                    {
                                        <div>لم يتم طلب اى اشعه </div>
                                    }
                                    else
                                    {
                                        @foreach (var item in Rediology)
                                        {
                                            <tr>

                                                <th>@item.RadiologyName</th>
                                                @if (item.Document != null || item.Photo != null)
                                                {
                                                    <th>
                                                        <a asp-action="PatientRadiologyDetails" asp-controller="DoctorPages"
                                                           asp-route-id="@item.Id">View Resulet</a>
                                                    </th>
                                                }
                                                else
                                                {

                                                    <th>No Result </th>
                                                }



                                                <th>@item.DateAndTime</th>
                                            </tr>
                                        }
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Radiology name</th>
                                        <th>Result</th>

                                        <th>Date And Time</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card mb-0">
                        <!-- /.card-header -->
                        <div class="card-body patients-wating">
                            <table id="example1" class="table table-striped table-hover">
                                <caption style="padding-top: 0.75rem;padding-bottom: 0.75rem;color: #6c757d;text-align: center;caption-side: top;">
                                    <b><i>All Last Radiology</i></b>
                                </caption>

                                <thead>
                                    <tr>

                                        <th>Radiology name</th>
                                        <th>Result </th>
                                        <th>Date And Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Rediology1 = patientRediology.GettheLast(Model.Id);
                                    }
                                    @foreach (var item in Rediology1)
                                    {
                                        <tr>

                                            <th>@item.RadiologyName</th>
                                            @if (item.Document != null || item.Photo != null)
                                            {
                                                <th>
                                                    <a asp-action="PatientRadiologyDetails" asp-controller="DoctorPages"
                                                       asp-route-id="@item.Id">View Resulet</a>
                                                </th>
                                            }
                                            else
                                            {

                                                <th>No Result </th>
                                            }

                                            <th>@item.DateAndTime</th>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Radiology name</th>
                                        <th>Result </th>
                                        <th>Date And Time</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="row more-btn mt-2">
                                <a asp-action="GetAllPatientRadiology" asp-controller="DoctorPages" class="col-2 btn"
                                   asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <!-- Room -->
            <div class="accordion-item">
                <div id="Reservation-collapseThree" class="accordion-collapse collapse"
                     aria-labelledby="Reservation-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="card mb-0">
                        <!-- /.card-header -->
                        <div class="card-body patients-wating pe-0 ps-0">
                            <table id="example1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Floor</th>
                                        <th>Room</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in patientRoom.GetAll(Model.Id))
                                    {
                                        <tr>
                                            <th>@item.RoomFloor</th>
                                            <th>@item.RoomNumber</th>
                                            <th>@item.StartTime</th>
                                            <th>@item.EndTime</th>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Floor</th>
                                        <th>Room</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="row more-btn mt-2">
                                <a asp-action="GetAllPatientRoom" asp-controller="DoctorPages" class="col-2 btn"
                                   asp-route-id="@Model.Id">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- Treatment -->
            <div class="accordion-item">
                <div id="consultation-collapseThree" class="accordion-collapse collapse"
                     aria-labelledby="consultation-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="card mb-0">
                        <!-- /.card-header -->
                        <div class="card-body patients-wating pe-0 ps-0">
                            <table id="example1" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Department</th>
                                        <th>Notes</th>
                                        <th>Date</th>

                                        <th>Detail</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Medicine.GetAllTreatment(Model.Id))
                                    {
                                        <tr>
                                            <th>@item.DocterName</th>
                                            <th>@item.Department</th>
                                            <th>@item.Notes</th>
                                            <th>@item.OrderDateAndTime</th>

                                            <th>
                                                <a class="btn btn-table" asp-action="PatientTreatmentDetails"
                                                   asp-controller="DoctorPages" asp-route-id="@item.Id"
                                                   asp-route-pataintid="@Model.Id">Details</a>
                                            </th>

                                        </tr>
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>Department</th>
                                        <th>Notes</th>
                                        <th>Date</th>

                                        <th>Detail</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="row more-btn mt-2">
                                <a asp-action="GetAllPatientTreatment" asp-controller="DoctorPages"
                                   asp-route-id="@Model.Id" class="col-2 btn">
                                    More ...
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

        <!-- action the patient  will do -->
        <div class="mt-5">
            <div class="info-div row align-items-end justify-content-start">
                <h5 class="col-sm-6 col-md-3 info-header">Action the patient will do</h5>
                <hr class="col w-100">
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <button type="button" class="row btn btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#operations">
                        <img src="~/receptionist dashbord/dist/img/backgrounds/cardiogram.png" class="col-2" />
                        <span class="col-8">Create Surgery</span>
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <button type="button" class="row btn btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#analyzing">
                        <img src="~/receptionist dashbord/dist/img/backgrounds/blood-test.png" class="col-2" />
                        <span class="col-8">Create Analysis</span>
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <button type="button" class="row btn btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#radiologys">
                        <img src="~/receptionist dashbord/dist/img/backgrounds/x-ray2.png" class="col-2" />
                        <span class="col-8">Create Radiology</span>
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <button type="button" class="row btn btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#Medicines">
                        <img src="~/receptionist dashbord/dist/img/backgrounds/capsules.png" class="col-2" />
                        <span class="col-8">Create Medicines</span>
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <button type="button" class="row btn btn-order d-flex justify-content-around action"
                            data-bs-toggle="modal" data-bs-target="#Reservation">
                        <img src="~/receptionist dashbord/dist/img/backgrounds/healthcare.png" class="col-2" />
                        <span class="col-8">Create Reservation</span>
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mt-3">
                    <a class="row btn btn-order d-flex justify-content-around action" asp-action="Finsh"
                       asp-controller="DoctorPages" asp-route-id="@Model.DailyDetectionId">
                        <img src="~/receptionist dashbord/dist/img/backgrounds/finish-line.png" class="col-2" />
                        <span class="col-8"> Finish</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Modal operations -->
        <div class="modal fade" id="operations" tabindex="-1" aria-labelledby="operationsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="operationsModalLabel">Order operation </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="Suregy_form" action="" class="mt-3 mb-2">
                            <div class="row clearfix add" id="operation">
                                <div class="row">
                                    <!--Surgery  -->
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-medkit"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" list="name operation"
                                                   id="exampleDataList" placeholder="Surgery">
                                            <datalist id="name operation">
                                                <option value="">- Surgery -</option>
                                                @foreach (var item in patientSurgery.GetAll())
                                                {
                                                    <option value="@item.Name"></option>
                                                }
                                                @* <option value="A medical">mohade</option>
                                                    <option value="Treatment">ali</option>
                                                    <option value="Surgery">layla</option>
                                                    <option value="X-ray work">reeam</option>
                                                    <option value="Emergency">ahmed</option>*@
                                            </datalist>
                                            <label for="floatingInput">- Surgery -</label>
                                        </div>
                                    </div>
                                    <!--Price-->
                                    @*<div class="col-md-11 mb-2">
                                        <div class="form-floating input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-money-bill-alt"></i>
                                        </span>
                                        <p class="form-control ">630</p>
                                        </div>
                                        </div>*@
                                    @* <div class="col-1 col-sm-1 col-md-1 mb-2">
                                        <button type="button"
                                        class="btn btn-info mt-2 more operation-more"
                                        onclick="add('operation')">
                                        +
                                        </button>
                                        </div>*@
                                </div>
                            </div>
                            <div class="modal-footer form-group mt-3">
                                <div class="mb-0 pt-2">
                                    <button type="submit" class="btn btn-save">Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal analyzing -->
        <div class="modal fade" id="analyzing" tabindex="-1" aria-labelledby="analyzingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="analyzingModalLabel">Order analyzing </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" id="Lab_form" class="mt-3 mb-2">
                            <div class="row clearfix add" id="analyzes">
                                <div class="row">
                                    <!--analyzes  -->
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-capsules"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" list="name Lab" id="lab"
                                                   placeholder="Lab">
                                            <datalist id="name Lab">
                                                <option value="">- Analyze -</option>
                                                @foreach (var item in Lab.GetAll())
                                                {
                                                    <option value="@item.Name"></option>
                                                }

                                            </datalist>
                                            <label for="floatingInput">- Lab -</label>
                                        </div>
                                    </div>
                                    <!-- price   -->
                                    @*<div class="col-md-11 mb-2">
                                        <div class="form-floating input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-money-bill-alt"></i>
                                        </span>
                                        <p id="labpice" class="form-control ">630</p>
                                        </div>
                                        </div>*@
                                    <div class="col-1 col-sm-1 col-md-1 mb-2">
                                        <button type="button" class="btn  btn-info mt-2 more"
                                                onclick="add('analyzes','Lab.GetAll()')">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer form-group mt-3">
                                <div class="mb-0 pt-2">
                                    <button type="submit" id="savel" class="btn  btn-save savel">Save</button>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal radiology -->
        <div class="modal fade" id="radiologys" tabindex="-1" aria-labelledby="radiologyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="radiologyModalLabel">Order radiologys </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="radiology-form" action="" class="mt-3 mb-2">
                            <div class="row clearfix add" id="radiology">
                                <div class="row">
                                    <!--radiology  -->
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-x-ray"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" list="name radiology"
                                                   id="z" placeholder="radiology">
                                            <datalist id="name radiology">
                                                <option value="">- radiology -</option>
                                                @foreach (var item in Repologey.GetAll())
                                                {
                                                    <option value="@item.Name"></option>
                                                }
                                            </datalist>
                                            <label for="floatingInput">- radiology -</label>
                                        </div>
                                    </div>

                                    <!-- price   -->
                                    @*<div class="col-md-11 mb-2">
                                        <div class="form-floating input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-money-bill-alt"></i>
                                        </span>
                                        <p id="RepologeyPrice" class="form-control ">630</p>
                                        </div>
                                        </div>*@
                                    <div class="col-1 col-sm-1 col-md-1 mb-2">
                                        <button type="button" class="btn btn-primary mt-2 radiology-more"
                                                onclick="add('radiology','Repologey.GetAll()')">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer form-group mt-3">
                                <div class="mb-0 pt-2">
                                    <button type="submit" class="btn btn-save">Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Medicines -->
        <div class="modal fade" id="Medicines" tabindex="-1" aria-labelledby="MedicinesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="MedicinesModalLabel">Order Medicines </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="Treatment_form" action="" class="mt-3 mb-2">
                            <div class="row clearfix add" id="Medicine">
                                <div class="mb-3 mt-2">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                              placeholder="Patiant illiness Note"></textarea>
                                </div>
                                <hr style="padding: inherit;color: #406f83;" />
                                <div class="row">
                                    <!--Medicine  -->
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">

                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-capsules"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" list="name Medicine"
                                                   id="a" placeholder="Medicine">
                                            <datalist id="name Medicine">
                                                <option value="">- Medicines -</option>
                                                @foreach (var item in Medicine.GetAll())
                                                {
                                                    <option value="@item.Name"></option>
                                                }

                                            </datalist>
                                            <label for="floatingInput">- Medicines -</label>
                                        </div>
                                    </div>
                                    <!-- price   -->
                                    @*<div class="col-md-11 mb-2">
                                        <div class="form-floating input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-money-bill-alt"></i>
                                        </span>
                                        <p id="medicinePrise" class="form-control ">630</p>
                                        </div>
                                        </div>*@
                                    <div class="col-1 col-sm-1 col-md-1 mb-2">
                                        <button type="button" class="btn  btn-info mt-2 more"
                                                onclick="add('Medicine','Medicine.GetAll()')">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 mt-2">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                              placeholder="Medicine Detail"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer form-group mt-3">
                                <div class="mb-0 pt-2">
                                    <button type="submit" class="btn btn-save">Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal reservation -->
        <div class="modal fade" id="Reservation" tabindex="-1" aria-labelledby="ReservationModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ReservationModalLabel">Order Reservation </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="Addroom" action="" class="mt-3 mb-2">
                            <div class="row clearfix add" id="room">
                                <div class="row">
                                    <!-- floor  -->
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-hospital"></i>
                                            </span>
                                            @* <input class="form-control form-control show-tick"
                                                list="name reservation" id="exampleDataList"
                                                placeholder="reservation" />*@
                                            <select class="form-select form-control form-control show-tick input"
                                                    id="reservation">
                                                <option value="0">- floor -</option>
                                                @foreach (var item in Room.GetAllFloar())
                                                {
                                                    <option value="@item"> Floor @item</option>
                                                }
                                            </select>
                                            @* <label for="floatingInput">- floor -</label>
                                            *@
                                        </div>
                                    </div>
                                    <!-- room  -->
                                    <div class="col-md-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-procedures"></i>
                                            </span>
                                            @*<input class="form-control form-control show-tick"
                                                list="name reservation" id="exampleDataList"
                                                placeholder="name reservation">*@
                                            <select class="form-select form-control form-control show-tick input"
                                                    id="roomreservation">
                                                <option value="">- room -</option>

                                            </select>

                                        </div>
                                    </div>
                                    @* <div class="col-1 col-sm-1 col-md-1 mb-2">
                                        <button type="button"
                                        class="btn btn-primary mt-2 more reservation-more"
                                        onclick="add('room','Room.GetAll()')">
                                        +
                                        </button>
                                        </div>*@
                                </div>

                                <div class="row">
                                    @*timeFroom*@
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-hospital"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" type="datetime-local"
                                                   id="fromday" placeholder="From Date">
                                        </div>
                                    </div>Another
                                    @* TimeEnd*@
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-hospital"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" type="datetime-local"
                                                   id="today" placeholder="To Date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer form-group mt-3">
                                <div class="mb-0 pt-2">
                                    <button type="submit" class="btn btn-save">Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal consultations -->
        <div class="modal fade" id="consultation" tabindex="-1" aria-labelledby="consultationModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="consultationModalLabel">Order consultation </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="mt-3 mb-2">
                            <div class="row clearfix add" id="consultations">
                                <div class="row">
                                    <!--consultations  -->
                                    <div class="col-11 mb-2">
                                        <div class="form-floating input-group">
                                            <span class="input-group-text" for="Name">
                                                <i class="fas fa-x-ray"></i>
                                            </span>
                                            <input class="form-control form-control show-tick" list="name consultations"
                                                   id="exampleDataList" placeholder="consultations">
                                            <datalist id="name consultations">
                                                <option value="">- User name -</option>
                                                <option value="A medical">mohade</option>
                                                <option value="Treatment">ali</option>
                                                <option value="Surgery">layla</option>
                                                <option value="X-ray work">reeam</option>
                                                <option value="Emergency">ahmed</option>
                                            </datalist>
                                            <label for="floatingInput">- consultations -</label>
                                        </div>
                                    </div>
                                    <!-- price   -->
                                    @*<div class="col-md-11 mb-2">
                                        <div class="form-floating input-group">
                                        <span class="input-group-text">
                                        <i class="fas fa-money-bill-alt"></i>
                                        </span>
                                        <p class="form-control ">630</p>
                                        </div>
                                        </div>*@
                                    <div class="col-1 col-sm-1 col-md-1 mb-2">
                                        <button type="button" class="btn  btn-info mt-2 more"
                                                onclick="add('consultations')">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer form-group mt-3">
                                <div class="mb-0 pt-2">
                                    <button type="submit" class="btn  btn-save">Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/receptionist dashbord/dist/js/add-more.js"></script>
    <script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/receptionist dashbord/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/jszip/jszip.min.js"></script>
    <script src="~/receptionist dashbord/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/receptionist dashbord/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/receptionist dashbord/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/receptionist dashbord/dist/js/demo.js"></script>
    <script src="~/receptionist dashbord/dist/js/add-more.js"></script>
    <script src="~/jquery/jquery.min.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- Page specific script -->
    <script>
        $(document).ready(function () {



            //Room


            $("#reservation").change(function () {

                var floorid = $("#reservation").val();

                $.ajax({

                    type: "POST",
                    url: "/DoctorPages/GetRoomInFloor",
                    data: {
                        floorid: floorid,

                    },

                    success: function (res) {

                        $.each(res, function (i, e) {

                            $("#roomreservation").html("<option value='" + e.id + "'>" + e.number + "</option>");
                        });
                    }

                });
            });
            //Save  Room

            //send Room
            $('#Addroom').on('submit', function (event) {
                event.preventDefault();
                var RoomIdid = $("#roomreservation").val();
                var fromDate = $("#fromday").val();

                var todDate = $("#today").val();

                if (RoomIdid != "" && fromDate != "" && todDate != ""&& todDate>fromDate) {
                    $.ajax({
                        url: "/DoctorPages/sendRoom?RoomId=" + RoomIdid + "&DailyDetectionId=" + @Model.DailyDetectionId+"&StartTime=" + fromDate + "&EndTime=" + todDate,
                        method: "POST",

                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            $('#Reservation').modal('hide');
                            swal("Saved Success!", "You clicked the button!", "success");

                            $("#roomreservation").val("");
                            $("#fromday").val("");
                            $("#today").val("");

                            swal("Saved Success!", "You clicked the button!", "success");

                        }
                    });
                }

            });

            //lab
            $('#Lab_form').on('submit', function (event) {
                event.preventDefault();
                const Lab = [];

                $("#Lab_form input").each(function () {
                    if ($(this).val() != "") {


                        Lab.push($(this).val());
                    }


                });
               if(Lab[0] !=undefined){
                $.ajax({
                    url: "/DoctorPages/sendlab?id=" + @Model.DailyDetectionId,
                    method: "POST",
                    data: { 'Lab': Lab },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {

                        $('#analyzing').modal('hide');
                        swal("Saved Success!", "You clicked the button!", "success");
                        $("div").remove(".Lab1");
                        $("#Lab_form input").val("");

                    }
                });
                }
            });
            //Add Surgery Suregy_form
            $('#Suregy_form').on('submit', function (event) {
                event.preventDefault();
                var surgeryName = $("#Suregy_form input").val();

                if(surgeryName !=""||surgeryName !=undefined){

                
                $.ajax({
                    url: "/DoctorPages/sendSergery?id=" + @Model.DailyDetectionId,
                    method: "POST",
                    data: { 'surgeryName': surgeryName },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $("#Suregy_form input").val("");
                        $('#operations').modal('hide');


                        swal("Saved Success!", "You clicked the button!", "success");

                    }
                });
                }
            });
            //AddTreatment
            $('#Treatment_form').on('submit', function (event) {
                event.preventDefault();
                const Treatment = [];
                const Details = []

                $("#Treatment_form input").each(function () {
                    Treatment.push($(this).val());

                });
                $("#Treatment_form textarea").each(function () {
                    Details.push($(this).val());

                });
               
                if(Treatment[0]!=""&&Details[0]!=""){
                $.ajax({
                    url: "/DoctorPages/sendTreatment?id=" + @Model.DailyDetectionId ,
                    method: "POST",
                    data: { 'Treatment': Treatment, 'Detailes': Details },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        swal("Saved Success!", "You clicked the button!", "success");
                        $("div").remove(".Medicine1");
                        $("#Treatment_form input").val("");
                        $('#Medicines').modal('hide');
                    }
                });
                }
            });
            //   //AddSuregy
            //         $('#Suregy_form').on('submit', function(event){
            //          event.preventDefault();
            //          const Treatment = [];

            //          const Document=$("#exampleFormControlTextarea1").val();
            //              $("#Suregy_form input").each(function(){
            //                  Treatment.push($(this).val());

            //});
            //       $.ajax({
            //            url:"/DoctorPages/sendSuregy?id="+@Model.DailyDetectionId + "&Document=" + Document,
            //            method:"POST",
            //             data: { 'Treatment': Treatment },
            //              datatype: "json",
            //              traditional: true,
            //            success:function(data)
            //            {
            //                 swal("Saved Success!", "You clicked the button!", "success");
            //            }
            //       });
            //  });
            // send radiology
            $('#radiology-form').on('submit', function (event) {
                event.preventDefault();
                const radiology = [];

                $("#radiology-form input").each(function () {
                    radiology.push($(this).val());

                });
               
                if(radiology[0]!=""){
                $.ajax({
                    url: "/DoctorPages/sendRadiology?id=" + @Model.DailyDetectionId,
                    method: "POST",
                    data: { 'Radiology': radiology },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        swal("Saved Success!", "You clicked the button!", "success");
                        $("div").remove(".radiology1");
                        $("#radiology-form input").val("");
                        $('#radiologys').modal('hide');

                    }
                });
                }
            });

        });
    </script>

    @*// function Sendlab(){
        // $(#Lab).each()
        // }
        //$(document).ready(function () {

        // $('#a').change(function () {

        // var name = $('#a').val();

        // $.ajax({

        // type: "POST",
        // url: "/DoctorPages/Medicineprice",
        // data: {
        // name: name,

        // },

        // success: function (res) {

        // $('#medicinePrise').text(res);

        // }
        // })
        // });
        // $('#lab').change(function () {


        // var name = $('#lab').val();
        // $.ajax({

        // type: "POST",
        // url: "/DoctorPages/Labprice",
        // data: {
        // name: name,

        // },

        // success: function (res) {


        // $('#labpice').text(res);

        // }
        // });
        // //send ajax request

        // });
        // $('#z').change(function () {

        // var name = $('#z').val();

        // $.ajax({

        // type: "POST",
        // url: "/DoctorPages/Radiologyprice",
        // data: {
        // name: name,

        // },

        // success: function (res) {


        // $('#RepologeyPrice').text(res);

        // }
        // });
        // //send ajax request

        // });
        //})*@
