@model DAL.Models.ShiftViewModel

@{
    ViewBag.Title = "Edit Shift";
}
<!-- page content -->
<div class="x_content mt-0">
    <h2 class="p-2 rounded">Edit Shift</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item" aria-current="page">Edit Shift</li>
        </ol>
    </nav>
    <form asp-controller="Shift" asp-action="Update" method="post" enctype="multipart/form-data" class="mt-2">
        <div class="field item form-group mt-5">
            <label class="col-form-label col-md-2 col-sm-2 label-align" for="Name">
                Start Shift
                @Model.StartShift
                <span class="required text-danger ms-1">*</span>
            </label>
            <div class="col-12 col-sm-12 col-md-8 floatingInput">
                <input asp-for=StartShift class="form-control" value="@Model.StartShift.ToString("t")" data="@Model.StartShift.ToString("t")" type="datetime" placeholder="start Shift" required />
            </div>
        </div>

        <div class="field item form-group mt-4">
            <label class="col-form-label col-md-2 col-sm-2 label-align" for="National-Number">
                End Shift
                <span class="required text-danger ms-1">*</span>
            </label>
            <div class="col-12 col-sm-12 col-md-8 floatingInput">
                <input asp-for=EndShift class="form-control" value="@Model.EndShift.ToString("t")" title="@Model.StartShift.ToString("t")" type="datetime" placeholder="EndShift" required />
            </div>
        </div>
        <!-- buttons -->
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="button-submit">
                    <div class="body social">
                        <div class="row clearfix">
                            <div class="form-group mb-4 pt-2">
                                <button type="submit" class="btn Submit">Edit</button>
                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*            <input type="submit" class="=parimary" value="Update" />
        *@
    </form>
    <button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> Back </button>

</div>

<!-- /page content -->
<script src="~/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Validation Plugin Js -->

<script>
        if (@ViewBag.Success == 1) {
            swal({
                title: "Success!",
                text: "Shift Edited Successfully",
                type: "success"
            }).then(function () {
                window.location = "/Shift/GetAll";
            });
        }
</script>