@model List<UserInRoleViewModel>
@{
    ViewBag.Title = "Edit User In Role";
    var RoleId = ViewBag.RoleId;
}
<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3">Add Or Remove User In Role</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Add Or Remove User In Role
            </li>
        </ol>
    </nav>
</div>
<form method="post" class="form-group">


    @for (int i = 0; i < Model.Count; i++)
    {

        <input asp-for="@Model[i].IsSelected" type="checkbox" class="filled-in">
        <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>

        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].UserName" />
        <br />

    }

    <div class="card-footer">
        <input type="submit" value="Edit" class="btn btn-info Submit" />
        <a asp-controller="Roles" asp-action="Edit" asp-route-id="@RoleId" class="btn btn-secondary Submit">Cancle</a>
    </div>


</form>

