@inject SignInManager<IdentityUser> signInManager;
@inject BLL.Services.UsersServices.IUsersServices userData
<!DOCTYPE html>
<html lang="en">

@{ var Email = User.Identity.Name;
    var DataForUser = await userData.GetUserName(Email);



}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--  Bootstrap 5 -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/tempusdominus-bootstrap-4/css/bootstrap.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/jqvmap/jqvmap.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/summernote/summernote-bs4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/receptionist dashbord/dist/css/style.css">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/receptionist dashbord/dist/img/logo.png" alt="Receptionist" height="60"
                 width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                       aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/receptionist dashbord/dist/img/user1-128x128.jpg" alt="User Avatar"
                                     class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/receptionist dashbord/dist/img/user8-128x128.jpg" alt="User Avatar"
                                     class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/receptionist dashbord/dist/img/user3-128x128.jpg" alt="User Avatar"
                                     class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge" id="notificationCounter">0</span>
                    </a>
                    <ul id="alertInfo" class="dropdown-menu list-unstyled msg_list" role="menu"
                        aria-labelledby="navbarDropdown1">

                        <li class="nav-item">
                            <div class="text-center">
                                <a class="dropdown-item">
                                    <strong>See All Alerts</strong>
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    @*<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>*@
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>

                @*<li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#"
                           role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>*@
                <li class="nav-item">
                    <form asp-action="LogOff" asp-controller="Account" method="post">
                        <button class="btn btn-save">
                            Log Out
                        </button>
                    </form>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/receptionist dashbord/dist/img/logo.png" title="3-M A" alt="3-M A"
                     class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-light">HCR</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
                    <div class="image">
                        <img src="~/Files/Photos/@DataForUser.Photo" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">

                        <a href="#" class="d-block"><h6>@DataForUser.Name</h6> </a>

                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                               aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <!-- Home -->
                        <li class="nav-item">
                            <a asp-action="Home" asp-controller="HCR" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Home
                                </p>
                            </a>

                        </li>
                        <!-- Reseptionist -->
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Receptionist"))
                        {
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-icon fas fa-chart-pie"></i>
                                    <p>
                                        Receptionist
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Index</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Patient" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Create New Patient</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Booking" asp-action="Create" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Make an appointment</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="bookings.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>
                                                bookings
                                                <span class="right badge badge-danger">50</span>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                        <!-- Doctor -->
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Doctor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-icon fas fa-user-md"></i>
                                    <p>
                                        Doctor
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Index</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="DoctorPages" asp-action="MyPatiants" class="nav-link">
                                            <i class="fa-solid fa-arrows-rotate nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Waiting Page
                                            </p>
                                        </a>

                                    </li>
                                </ul>
                            </li>
                        }


                        <!-- Medical analysis Doctor -->
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("AnalysisDoctor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-icon fas fa-solid fa-flask"></i>
                                    <p>
                                        Analysis Doctor
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Index</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="WaitingPage" asp-controller="LabDoctor" class="nav-link">
                                            <i class="fa-solid fa-arrows-rotate nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Waiting Page
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="GetAllCompletedOrders" asp-controller="LabDoctor" class="nav-link">
                                            <i class="fa fa-th-list nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Completed Orders
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="GetAllOrdersCanceled" asp-controller="LabDoctor" class="nav-link">
                                            <i class="fa fa-ban nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Orders Canceled
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                        <!-- Radiology Doctor -->
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("RadiologyDoctor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="nav-icon fas fa-x-ray"></i>
                                    <p>
                                        Radiology Doctor
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Index</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="RadiologyDoctor" asp-action="WaitingPage" class="nav-link">
                                            <i class="fa-solid fa-arrows-rotate nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Waiting Page
                                            </p>
                                        </a>

                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="GetAllCompletedOrders" asp-controller="RadiologyDoctor" class="nav-link">
                                            <i class="fa fa-th-list nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Completed Orders
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="GetAllOrdersCanceled" asp-controller="RadiologyDoctor" class="nav-link">
                                            <i class="fa fa-ban nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Orders Canceled
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                        <!-- Pharmacist -->
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Pharmacist"))
                        {
                            <li class="nav-item">
                                <a href="add patient.html" class="nav-link">
                                    <i class="nav-icon fas fa-capsules"></i>
                                    <p>
                                        Pharmacist
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Index</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="WaitingPage" asp-controller="Pharmacist" class="nav-link">
                                            <i class="fa-solid fa-arrows-rotate nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Waiting Page
                                            </p>
                                        </a>

                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="GetAllCompletedOrders" asp-controller="Pharmacist" class="nav-link">
                                            <i class="fa fa-th-list nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Completed Orders
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="GetAllOrdersCanceled" asp-controller="Pharmacist" class="nav-link">
                                            <i class="fa fa-ban nav-icon" aria-hidden="true"></i>
                                            <p>
                                                Orders Canceled
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderSection("PageHeader", required: false)
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <audio id="myAudio">
                        <source src="~/Files/voice.mp4" type="audio/ogg">
                        <source src="~/Files/voice.mp4" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    @RenderBody()

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">3-M A</a>.</strong>
            All rights reserved.

        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- hcr for demo purposes -->
    <!-- jQuery -->
    <script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/receptionist dashbord/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/jszip/jszip.min.js"></script>
    <script src="~/receptionist dashbord/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/receptionist dashbord/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- hcr App -->
    <script src="~/receptionist dashbord/dist/js/hcr.js"></script>
    <!-- hcr for demo purposes -->
    <script src="~/receptionist dashbord/dist/js/demo.js"></script>
    <script src="~/receptionist dashbord/dist/js/add-more.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

    </script>

</body>

</html>
<script src="~/signalr/dist/browser/signalr.min.js"></script>

<script src="~/signalr/ReseptionestSR.js"></script>