@inject BLL.Services.UsersServices.IUsersServices userData
@inject SignInManager<IdentityUser> signInManager
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization

@inject IViewLocalizer Localizer
@*@inject IRequestCultureFeature reqculture;*@
@{
    var Email = User.Identity.Name;
    var reqculture = Context.Features.Get<IRequestCultureFeature>();


}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jthemes" />
    <meta name="description" content="HCR - Medical & Medical Health Landing Page Template" />
    <meta name="keywords"
        content="Responsive, HTML5 Template, Jthemes, One Page, Landing, Medical, Health, Healthcare, Doctor, Clinic, Care, Hospital">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SITE TITLE -->
    <title>3M-A | @ViewBag.Title </title>
    <!-- FAVICON AND TOUCH ICONS  -->
    <link rel="icon" href="~/website/images/logo.png" type="image/logo.png">
    <link rel="icon" href="~/website/images/logo.png" type="image/logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/website/images/logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/website/images/logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/website/images/logo.png">
    <link rel="apple-touch-icon" href="~/website/images/logo.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- BOOTSTRAP CSS -->
    <link href="~/website/css/bootstrap.css" rel="stylesheet">
    <!-- FONT ICONS -->
    <link rel="stylesheet" href="~/website/fontawesome/css/all.css">
    <!-- PLUGINS STYLESHEET -->
    <link href="~/website/css/menu.css" rel="stylesheet">
    <link id="effect" href="~/website/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
    <link href="~/website/css/magnific-popup.css" rel="stylesheet">
    <link href="~/website/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/website/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/website/css/animate.css" rel="stylesheet">
    <link href="~/website/css/jquery.datetimepicker.min.css" rel="stylesheet">

    <!--  Bootstrap 5 -->
    @* <link rel="stylesheet" href="~/receptionist dashbord/plugins/tempusdominus-bootstrap-4/css/bootstrap.css"> *@
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/jqvmap/jqvmap.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/receptionist dashbord/plugins/summernote/summernote-bs4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/receptionist dashbord/dist/css/style.css">
    <!-- TEMPLATE CSS -->
    @* <link href="~/website/css/ar-style .css" rel="stylesheet"> *@
    <!-- RESPONSIVE CSS -->
    <link href="~/website/css/responsive.css" rel="stylesheet">
    @if (reqculture.RequestCulture.Culture.Name == "ar-SA")
    {
        <link href="~/website/css/ar-style .css" rel="stylesheet">

    }
    else
    {
        <link href="~/website/css/style.css" rel="stylesheet">

    }
</head>


<body>




    <!-- PRELOADER SPINNER
        ============================================= -->
    <div id="loader-wrapper">
        <div id="loader">
            <div class="loader-inner"></div>
        </div>
    </div>

    <!-- PAGE CONTENT
        ============================================= -->
    <div id="page" class="page">

        <!-- HEADER
        ============================================= -->
        <header id="header" class="header">

            <!-- MOBILE HEADER -->
            <div class="wsmobileheader clearfix">
                <a id="wsnavtoggle" class="wsanimated-arrow" data-bs-toggle="offcanvas" href="#offcanvasExample"
                    role="button" aria-controls="offcanvasExample"><span></span></a>
                <span class="smllogo">
                    <img src="~/website/images/logo.png" width="50" height="auto" alt="3-M A" title="3-M A" />
                </span>
                <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
            </div>
            <!-- HEADER STRIP -->
            <div class="headtoppart   clearfix">
                <div class="headerwp clearfix">
                    <!-- Address -->
                    <div class="headertopleft">
                        <div class="address clearfix">
                            <span><i class="fas fa-map-marker-alt"></i>Shibin Al-Kom</span> <a href="Tel:123456789"
                                class="callusbtn"><i class="fas fa-phone"></i>01011309841</a>
                        </div>
                    </div>
                    <!-- Social Links -->
                    <div class="headertopright">
                        <a class="googleicon" title="Google" href="#">
                            <i class="fab fa-google"></i> <span class="mobiletext02">Google</span>
                        </a>
                        <a class="linkedinicon" title="Linkedin" href="#">
                            <i class="fab fa-linkedin-in"></i> <span class="mobiletext02">Linkedin</span>
                        </a>
                        <a class="twittericon" title="Twitter" href="#">
                            <i class="fab fa-twitter"></i> <span class="mobiletext02">Twitter</span>
                        </a>
                        <a class="facebookicon" title="Facebook" href="#">
                            <i class="fa-brands fa-facebook-f"></i> <span class="mobiletext02">Facebook</span>
                        </a>
                    </div>
                </div>
            </div> <!-- END HEADER STRIP -->
            <!-- phone MENU -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- MAIN MENU -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <ul class="navbar-nav">
                            <!-- DROPDOWN MENU -->
                            <p class="nav-item">
                                <a asp-action="Home" asp-controller="HCRWebsite">@Localizer["Home"]</a>
                            </p> <!-- END DROPDOWN MENU -->
                            <!-- PAGES -->
                            <p class="nav-item">
                                @if (Context.Request.Path.Value == "/HCRWebsite/Register")
                                {
                                    <a href="/HCRWebsite/Home/">@Localizer["About"]</a>
                                }
                                else
                                {
                                    <a href="#info-4">@Localizer["About"]</a>
                                }
                            </p> <!-- END PAGES -->
                            <!-- HALF MENU -->
                            <!-- MEGAMENU -->
                            <p class="nav-item">
                                @if (Context.Request.Path.Value == "/HCRWebsite/Register")
                                {
                                    <a href="/HCRWebsite/Home/">@Localizer["Services"]</a>
                                }
                                else
                                {
                                    <a href="#statistic-3">@Localizer["Services"]</a>
                                }
                            </p> <!-- END MEGAMENU -->
                            <!-- SIMPLE NAVIGATION LINK -->
                            <p class="nav-item">
                                <a href="#footer-1">@Localizer["Contacts"]</a>
                            </p>
                            <p class="nav-item">
                                <a href="#userGuide">@Localizer["UserGuide"]</a>
                            </p>
                            <!-- END HALF MENU -->
                            <!-- END HALF MENU -->
                            <!-- login -->
                            @if (signInManager.IsSignedIn(User))
                            {
                                var DataForUser = await userData.GetUserName(Email);
                                <!-- END login -->
                                <!-- register -->
                                <p class="nav-item">
                                    <a asp-action="PatientProfile" asp-controller="HCRWebsite"
                                    asp-route-id="@DataForUser.id">@DataForUser.Name</a>
                                </p>
                                <p class="nav-item">
                                <form asp-action="LogOff" asp-controller="Account" method="post">
                                    <button class="btn btn-Log mt-3">
                                            @* @Localizer["LogOut"] Log Out *@
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </button>
                                </form>
                                </p>
                                <!-- END register -->
                            }
                            else
                            {
                                <p class="nav-item">
                                    <a asp-action="Login" asp-controller="Account"> @Localizer["login"]</a>
                                </p>
                                <!-- END login -->
                                <!-- register -->
                                <p class="nav-item">
                                    <a asp-action="Register" asp-controller="HCRWebsite"> @Localizer["Register"]</a>
                                </p>
                                <!-- END register -->
                            }
                            <!-- HALF MENU -->
                            <li class="nav-item">
                                <div class="wsmegamenu clearfix halfmenu">
                                    <!-- Links -->
                                    <ul class="link-list">
                                        <p><a
                                                href="/HCRWebsite/SetCulture?lang=en-US&URL=@Context.Request.Path.Value">EN</a>
                                        </p>
                                        <p><a href="/HCRWebsite/SetCulture?lang=ar-SA&URL=@Context.Request.Path.Value">
                                                AR</a></p>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </nav> <!-- END MAIN MENU -->
                </div>
            </div>
            <!-- NAVIGATION MENU -->
            <div class="wsmainfull menu clearfix">
                <div class="wsmainwp clearfix">
                    <div class="d-flex w-100 justify-content-between">
                        <!-- LOGO IMAGE -->
                        <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80 pixels) -->
                        <div class="desktoplogo">
                            <a class="desktoplogo-logo" asp-action="Home" asp-controller="HCRWebsite">
                                <img src="~/website/images/logo.png" width="60" height="auto" alt="header-logo">
                                <h2 class="d-inline">HCR (3M-A Team)</h2>
                            </a>
                        </div>
                        <!-- MAIN MENU -->
                        <nav class="wsmenu clearfix">
                            <ul class="wsmenu-list">


                                <!-- DROPDOWN MENU -->
                                <li aria-haspopup="true">
                                    <a asp-action="Home" asp-controller="HCRWebsite">@Localizer["Home"]</a>

                                </li> <!-- END DROPDOWN MENU -->
                                <!-- PAGES -->
                                <li aria-haspopup="true">
                                    @if (Context.Request.Path.Value == "/HCRWebsite/Register")
                                    {
                                        <a href="/HCRWebsite/Home/">@Localizer["About"]</a>



                                    }
                                    else
                                    {
                                        <a class="about" href="#info-4">@Localizer["About"]</a>
                                    }


                                </li> <!-- END PAGES -->
                                <!-- HALF MENU -->
                                <!-- MEGAMENU -->
                                <li aria-haspopup="true">
                                    @if (Context.Request.Path.Value == "/HCRWebsite/Register")
                                    {
                                        <a class="Services" href="/HCRWebsite/Home/">@Localizer["Services"]</a>



                                    }
                                    else
                                    {
                                        <a class="Services" href="#statistic-3">@Localizer["Services"]</a>
                                    }


                                </li> <!-- END MEGAMENU -->
                                <!-- SIMPLE NAVIGATION LINK -->

                                <li aria-haspopup="true">
                                    <a class="Contacts" href="#footer-1">@Localizer["Contacts"]</a>

                                </li>
                                <li aria-haspopup="true">
                                    <a class="UserGuide" href="#userGuide">@Localizer["UserGuide"]</a>

                                </li>

                                <!-- END HALF MENU -->
                                <!-- END HALF MENU -->
                                <!-- login -->
                                @if (signInManager.IsSignedIn(User))
                                {
                                    var DataForUser = await userData.GetUserName(Email);

                                    @*<li aria-haspopup="true">
                                        <a> @DataForUser.Name</a>
                                        </li>*@
                                    <!-- END login -->
                                    <!-- register -->
                                    <li aria-haspopup="true">
                                        <a asp-action="PatientProfile" asp-controller="HCRWebsite"
                                        asp-route-id="@DataForUser.id">@DataForUser.Name</a>
                                    </li>

                                    <li aria-haspopup="true">
                                        <form asp-action="LogOff" asp-controller="Account" method="post">
                                            <button class="btn btn-Log mt-3">
                                                @* @Localizer["LogOut"] Log Out *@
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                            </button>
                                        </form>
                                    </li>
                                    <!-- END register -->
                                }
                                else
                                {
                                    <li aria-haspopup="true">
                                        <a asp-action="Login" asp-controller="Account"> @Localizer["login"]</a>

                                    </li>
                                    <!-- END login -->
                                    <!-- register -->
                                    <li aria-haspopup="true">
                                        <a asp-action="Register" asp-controller="HCRWebsite"> @Localizer["Register"]</a>

                                    </li>
                                    <!-- END register -->

                                }
                                <!-- HALF MENU -->
                                <li aria-haspopup="true">
                                    <span class="wsmenu-click">
                                        <i class="wsmenu-arrow"></i>
                                    </span>
                                    <a><i class="fa-solid fa-globe"></i> <span class="wsarrow"></span></a>
                                    <div class="wsmegamenu clearfix halfmenu">
                                        <!-- Links -->
                                        <ul class="link-list">
                                            <li><a
                                                    href="/HCRWebsite/SetCulture?lang=en-US&URL=@Context.Request.Path.Value">EN</a>
                                            </li>
                                            <li><a
                                                    href="/HCRWebsite/SetCulture?lang=ar-SA&URL=@Context.Request.Path.Value">
                                                    AR</a></li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </nav> <!-- END MAIN MENU -->
                    </div>
                </div>
            </div> <!-- END NAVIGATION MENU -->


        </header> <!-- END HEADER -->
        @RenderBody()

        <footer id="footer-1" class="bg-image wide-40 footer division">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 info">
                        <img src="~/website/images/logo.png" class="w-50" alt="footer-logo">
                        <ul class="foo-socials text-center clearfix mt-4">
                            <li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>
                            <li>
                                <a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                            <li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <!-- Title -->
                        <h5 class="h5-xs">@Localizer["WorkingTime"] </h5>
                        <!-- Working Hours -->
                        @inject BLL.Services.shiftServeses.IShiftServeses shifts;
                        @foreach (var item in shifts.GetAll())
                        {
                            <p class="p-sm">
                                <span>
                                    Start Date : @item.StartShift.ToString("t") - End Date :
                                    @item.EndShift.ToString("t")
                                </span>
                            </p>
                        }
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-box mb-40">
                            <!-- Title -->
                            <h5 class="h5-xs">@Localizer["Contacts2"]</h5>
                            <!--Email-->
                            <p class="foo-email mt-20">
                                <i class="fa-solid fa-envelope"></i> : <a href="#">healthcarerecord3@gmail.com</a>
                            </p>
                            @* <h5 class="h5-xs">@Localizer["Emergency"]</h5> *@
                            <!-- Footer List -->
                            <p><i class="fa-solid fa-phone mt-3"></i> :<a href="#" class="text-light"> +20 1011309841
                                </a></p>
                            <p class="h5-xl blue-color fs-5 mt-3"><a href="tel:01011309841"
                                    class="text-light">01011309841</a></p>
                            <!-- Text -->
                            <p class="p-sm mt-15">
                                We will replay fast
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-box mb-40">
                            <!-- Title -->
                            <h5 class="h5-xs">@Localizer["Location"] </h5>
                            <!-- Address -->
                            <p><i class="fa-solid fa-map-location-dot"></i> : Shebin El-Kom, Menoufia, Egypt</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center  border-top  pt-3 pb-2">
                    <p class="text-light m-0 text-footer">&copy; 2022 HCR (3M-A Team) , All rights reserved.</p>
                </div>
            </div>
        </footer>




    </div>
    <script src="~/receptionist dashbord/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/receptionist dashbord/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/receptionist dashbord/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/receptionist dashbord/plugins/jszip/jszip.min.js"></script>
    <script src="~/receptionist dashbord/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/receptionist dashbord/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.print.js"></script>
    <script src="~/receptionist dashbord/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- hcr App -->
    <script src="~/receptionist dashbord/dist/js/hcr.js"></script>
    <!-- hcr for demo purposes -->
    <script src="~/receptionist dashbord/dist/js/demo.js"></script>
    <script src="~/receptionist dashbord/dist/js/add-more.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script src="~/website/js/bootstrap.min.js"></script>
    <!-- Custom Script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            once: false
        });
    </script>
    <script>
        const loaderWrapper = document.getElementById('loader-wrapper')
        const loader = document.getElementById('loader')
        setTimeout(() => {
            loaderWrapper.style.position = 'relative'
            loader.style.display = 'none'
        }, "1000")
    </script>
    <script src="~/website/js/changer.js"></script>
    <script defer src="~/website/js/styleswitch.js"></script>


</body>


</html>