@{
    ViewBag.Title = "Room Orders";
}
@inject BLL.Services.RoomWorkServices.IRoomWorkServices data



<div class="x_content mt-0">
    <h2 class="p-2 rounded ps-3"> Room Orders</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                Home
            </li>
            <li class="breadcrumb-item text-denger" aria-current="page">
                Room Orders
            </li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
        </div>
        <!-- /.card-header -->
        <div class="card-body patients-wating" id="patients-wating">
            <table id="example1" class="table table-striped Actions">
                <thead>
                    <tr class="table-bg">
                        <th>#</th>
                        <th>Patient Name</th>
                        <th>Floor</th>
                        <th>Number of Room</th>
                        <th>Doctor Name</th>
                        <th>Date And Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var Counter = 1;
                    }
                    @foreach (var item in data.GetAllOrders())
                    {
                        <tr>
                            <td>@(Counter++)</td>
                            <td>@item.PatientName</td>
                            <td> @item.Floor</td>
                            <td> @item.RoomNumber</td>
                            <td>@item.DoctorName</td>
                            <td>@item.DateAndTime</td>
                            <td class="w">
                                <a onclick="Confirm(@item.PatientRoomId)"class="btn btn-success me-3"><i class="text-light fas fa-check"></i></a>
                                <a onclick="Cancel(@item.PatientRoomId)" class="btn btn-danger">
                                    <i class="text-light fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
                @*<tfoot>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Floor</th>
                            <th>Number of Room</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>*@
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<button onclick="history.back()" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> Back </button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script type="text/javascript">
    function Cancel(id) {
        swal({
            title: `Are you sure you want to cancel this order ?!`,
            text: "If you canceled this, it will be gone forever.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Room/Cancel",
                        data: {
                            id: id,
                        },
                        success: function (res) {
                            swal("Deleted!", "Your imaginary file has been archived.", "success");
                            window.location = "/Room/WaitingPage"
                        }
                    });
                }
            });
    }

    function Confirm(id) {
        swal({
            title: `Are you sure you want to confirm this order ?!`,
            text: "If you canceled this, it will be gone forever.",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Room/ConfirmOrder",
                        data: {
                            id: id,
                        },
                        success: function (res) {
                            swal("Confirm!", "Your imaginary file has been archived.", "success");
                            window.location = "/Room/WaitingPage"
                        }
                    });
                }
            });
    }
</script>

