@model DAL.Models.NurseViewModel
@{
    ViewBag.Title = "Nurse Profile";
}
@inject BLL.Services.shiftServeses.IShiftServeses shift ;
<div class="x_content mt-0">
    <h2 class="p-1 ps-3 rounded">Nurse Profile</h2>
    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item active" aria-current="page">
                Nurses
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Nurse Profile
            </li>
        </ol>
    </nav>
    <!-- /breadcrumb -->
    <div id="main-content" class="profilepage_2 blog-page">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                </div>
            </div>
            <div class="row mt-2">
                <!-- perconal info -->
                <div class="col-lg-4 col-md-12">
                    <div class="card profile-header">
                        <div class="body Nurse">
                            <div class="profile-image d-flex "> <img src="~/Files/Photos/@Model.Photo" class="rounded-circle w-50" alt=""> </div>
                            <div>
                                <h4 class="mt-3"><strong>@Model.Name</strong></h4>
                                <span>deparment nurse</span>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <a class="btn btn-outline-primary w-100" href="#Name">Update</a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-outline-danger w-100">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- info care -->
                <div class="col d-flex align-items-center nurse rounded">
                </div>
            </div>
            <!-- infornation about Nurse & Update -->
            <div class="row">
                <!-- infornation about -->
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="header info">
                            <h2 class="p-1 ps-3 rounded">Info</h2>
                        </div>
                        <div class="body">
                            <small class="text-muted">Address: </small>
                            <p>@Model.Address</p>
                            <small class="text-muted">Email address: </small>
                            <p>@Model.Email</p>
                            <small class="text-muted">Mobile: </small>
                            <p>@Model.Phone</p>
                            <small class="text-muted">Birth Date: </small>
                            <p class="m-b-0">@Model.BirthDate</p>
                            <hr>
                            <div class=" ">
                                <small class="text-muted">Social: </small>
                                <p class=" mt-2"><i class="fa-brands fa-facebook-f me-3"></i> <a href="@Model.Facebook">@Model.Facebook</a></p>
                                <p><i class="fa-brands fa-twitter me-3"></i> <a href="@Model.Twitter">@Model.Twitter</a></p>
                                <p><i class="fa-brands fa-whatsapp me-3"></i> <a href="@Model.Whatsapp">@Model.Whatsapp</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Update section -->
                <div class="col">
                    <div class="card shadow mb-2">
                        <div class="header info">
                            <h2 class="p-1 ps-3 rounded">Update</h2>
                        </div>
                        <div class="body">
                            <ul class="nav nav-tabs-new">
                                <li class="nav-item me-2">
                                    <a class="nav-link rounded active" id="button-Basic" data-toggle="tab">Basic</a>
                                </li>
                                <li class="nav-item me-2">
                                    <a class="nav-link rounded" id="button-Account" data-toggle="tab">Account</a>
                                </li>
                                <!-- Info -->
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content padding-0 shadow">
                        <div class="tab-pane active" id="Basic">
                            <div class="card">
                                <div class="body">
                                    <form class="needs-validation" novalidate asp-action="Edit" asp-controller="Nurse" asp-route-id="@Model.Id">
                                        <div class="row clearfix">
                                            <h6>Basic Information</h6>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="mb-3">
                                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                                        You should check in on some of those fields below.
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control input" asp-for="Name" placeholder="Name" id="Name" required />
                                                        <label for="Name">Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-floating">
                                                    <input type="date" data-provide="datepicker" data-date-autoclose="true" class="form-control" asp-for="BirthDate" placeholder="Date of Birth" required />
                                                    <label for="floatingInput" required>
                                                        Date of
                                                        Birth
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                                    You should check in on some of those fields below.
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="text" class="form-control input" asp-for="Address" placeholder="Address" required />
                                                    <label for="floatingInput">Address </label>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-control form-control show-tick input" placeholder="Day work">
                                                    <option selected>- Day work -</option>
                                                    <option value="Saturday"> Saturday </option>
                                                    <option value="Sunday"> Sunday </option>
                                                    <option value="Monday"> Monday </option>
                                                    <option value="Tuesday"> Tuesday </option>
                                                    <option value="Wednesday"> Wednesday </option>
                                                    <option value="Thursday"> Thursday </option>
                                                    <option value="Friday"> Friday </option>
                                                </select>
                                                <label for="Daywork">- Day work -</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-control form-control show-tick input" asp-for="ShiftId" placeholder="Time shift ">
                                                    <option selected>- Time shift -</option>
                                                    @foreach (var item in shift.GetAll())
                                                    {
                                                        <option value="@item.Id">@item.StartShift - @item.EndShift</option>
                                                    }
                                                </select>
                                                <label for="Timeshift">- Time shift -</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-control form-control show-tick" placeholder="City">
                                                    <option selected>- City -</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <label for="floatingInput">- City -</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 pt-2">
                                            <button type="submit" class="btn Submit">Update</button>
                                            <button type="reset" class="btn btn-outline-secondary">
                                                Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane d-none" id="Account">
                        <div class="card">
                            <div class="body">
                                <form asp-action="Edit" asp-controller="Nurse">
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12">
                                            <h6>Account Data</h6>
                                            <div class="row">
                                                <div class="col-sm-12 mb-3">
                                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                                        You should check in on some of those fields below.
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                    <div class="form-floating">
                                                        <input type="number" class="form-control input" asp-for="Phone" placeholder="Phone " required />
                                                        <label for="floatingInput">Phone </label>
                                                    </div>
                                                </div>
                                                <div class=" col-sm-12 mb-3">
                                                    <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                                        You should check in on some of those fields below.
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                    <div class="form-floating">
                                                        <input type="email" class="form-control input" asp-for="Email" placeholder=" email" required />
                                                        <label for="floatingInput">Email </label>
                                                    </div>
                                                </div>
                                                <div class=" mb-3">
                                                    <div class="form-floating">
                                                        <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                                            You should check in on some of those fields below.
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                        <input type="password" class="form-control input" placeholder="password " required />
                                                        <label for="floatingInput">password </label>
                                                    </div>
                                                </div>
                                                <div class=" mb-3">
                                                    <div class="form-floating">
                                                        <div class="alert alert-warning alert-dismissible fade show m-auto mb-1 d-none" role="alert">
                                                            You should check in on some of those fields below.
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                        <input type="password" class="form-control input" placeholder=" Confirm password " required />
                                                        <label for="floatingInput">
                                                            Confirm password
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 pt-2">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <button type="reset" class="btn btn-outline-secondary">
                                            Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane d-none" id="General">
                        <div class="card">
                            <div class="body">
                                <h6>General Information</h6>
                                <form asp-action="Edit" asp-controller="Nurse">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control input" asp-for="Phone" placeholder="Phone Number">
                                            </div>
                                            <div class="form-group">
                                                <label>Date Format</label>
                                                <div class="fancy-radio">
                                                    <label>
                                                        <input name="dateFormat" value=""
                                                               type="radio"><span>
                                                            <i></i>May 18,
                                                            2018
                                                        </span>
                                                    </label>&nbsp;&nbsp;
                                                    <label>
                                                        <input name="dateFormat" value=""
                                                               type="radio"><span>
                                                            <i></i>2018, May,
                                                            18
                                                        </span>
                                                    </label>&nbsp;&nbsp;
                                                    <label>
                                                        <input name="dateFormat" value=""
                                                               type="radio"
                                                               checked=""><span><i></i>2018-03-10</span>
                                                    </label>&nbsp;&nbsp;
                                                    <label>
                                                        <input name="dateFormat" value=""
                                                               type="radio"><span><i></i>02/09/2018</span>
                                                    </label>&nbsp;&nbsp;
                                                    <label>
                                                        <input name="dateFormat" value=""
                                                               type="radio"><span><i></i>10/05/2018</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <h6>Email from Lucid</h6>
                                            <p>I'd like to receive the following emails:</p>
                                            <ul class="list-unstyled list-email-received">
                                                <li>
                                                    <label class="fancy-checkbox">
                                                        <input type="checkbox" checked=""><span>
                                                            Weekly
                                                            account summary
                                                        </span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="fancy-checkbox">
                                                        <input type="checkbox"><span>
                                                            Campaign
                                                            reports
                                                        </span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="fancy-checkbox">
                                                        <input type="checkbox"
                                                               checked=""><span>
                                                            Promotional
                                                            news such as
                                                            offers or discounts
                                                        </span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="fancy-checkbox">
                                                        <input type="checkbox" checked=""><span>
                                                            Tips
                                                            for
                                                            campaign setup, growth and client
                                                            success
                                                            stories
                                                        </span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 pt-2">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <button type="reset" class="btn btn-outline-secondary">
                                            Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

