@model DAL.Models.DailyDetectionViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Home"];
    Layout = "/Views/Shared/Layout/HCRWebsiteLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> signInManager
@inject BLL.Services.StatisticServices.IStatisticServices Statistics
@inject BLL.Services.PatientServices.IPatientServices Patient
<!-- HERO-4
            ============================================= -->
<section id="hero-4" class="bg-fixed hero-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- HERO TEXT -->
            <div class="col-lg-7 col-xl-7">
                <div class="hero-txt mb-4">
                    <!-- Title -->
                    <h1 class="ml6 mb-0 p-0">
                        <span class="text-wrapper p-0">
                            <span class="letters "> @Localizer["Welcome"] </span>
                        </span>
                    </h1>
                    <h1 class="ml10 mb-3">
                        <span class="letters fs-3"> @Localizer["Welcomep"]</span>
                    </h1>
                    <!-- CONTENT BOX #1 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>

                            @Localizer["Ap1"]
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap2"]
                        </p>
                    </div>

                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap3"]

                        </p>
                    </div>

                </div>
            </div> <!-- END HERO TEXT -->
            <!-- HERO APPOINTMENT FORM -->
            @inject BLL.Services.DepartmentServices.IDepartmentSevice Dep
            @inject BLL.Services.shiftServeses.IShiftServeses shift

            <div class="col-lg-5 col-xl-5">
                <div id="hero-section-form" class="text-center mb-40">
                    @if (signInManager.IsSignedIn(User)&& User.IsInRole("Patient"))
                    {
                        
                        <form asp-action="Home" asp-controller="HCRWebsite" class="row hero bg-blue">
                            <!--hero-form this class make error-->
                            <!-- Form Text -->
                        <div class="col-md-12 white-color">
                                <h4 class="h4-xs">@Localizer["Appointment"]</h4>
                            </div>
                            <!-- Form Select -->
                        <div id="input-doctor" class="col-md-12 input-doctor">
                                <select id="slctShift" asp-for="ShiftId" class="deeee custom-select doctor" required>
                                    <option value="">Select Shift</option>
                                    @foreach (var item in shift.GetAll())
                                    {
                                        <option value="@item.Id">@item.StartShift.TimeOfDay - @item.EndShift.TimeOfDay</option>
                                    }
                                </select>
                                <span asp-validation-for="ShiftId" class="text-danger"></span>
                            </div>
                            <!-- Form Select -->
                        <div id="input-doctor" class="col-md-12 input-doctor">
                                <select id="slctDepartment" asp-for="DepartmentId" class="deeee custom-select doctor"
                                required>
                                    <option value="">- Departments -</option>
                                    @foreach (var item in Dep.GetAll())
                                    {
                                        <option value="@item.DepartmentId">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                            <!-- Form Select -->
                        <div id="input-doctor" class="col-md-12 input-doctor">
                                <select id="slctDoctor" asp-for="DoctorId" class="custom-select doctor" required>
                                    <option value="">Select Doctor</option>
                                </select>
                                <span asp-validation-for="DoctorId" class="text-danger"></span>
                            </div>
                            <!-- Contact Form Input -->
                        <div id="input-date" class="col-lg-12">
                                <input id="datetimepicker" type="datetime-local" asp-for="DateAndTime" class="form-control date"
                                placeholder="Appointment Date" required>
                                <span asp-validation-for="DateAndTime" class="text-danger"></span>
                            </div>
                            <!-- Contact Form Button -->
                        <div class="col-lg-12 form-btn">
                                <button type="submit" class="btn btn-orange tra-white-hover submit">
                                    @Localizer["Ap4"]
                                </button>
                            </div>
                            <!-- Contact Form Message -->
                        <div class="col-lg-12 hero-form-msg text-center">
                                <div class="sending-msg"><span class="loading"></span></div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <h3 style="color:black"> @Localizer["booling"]</h3>
                        <a class="btn btn-blue blue-hover submit" asp-action="Login"
                        asp-controller="Account">@Localizer["Login"] </a>
                    }
                </div>
            </div> 
    
          <!-- END HERO APPOINTMENT FORM -->
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END HERO-4 -->
<section id="info-4" class="wide-100 info-section division">
    <div class="container">
        <!-- TOP ROW -->
        <div class="top-row mb-80">
            <div class="row d-flex align-items-center">
                <!-- INFO IMAGE -->
                <div class="col-lg-6">
                    <div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
                        <img class="img-fluid" src="~/website/images/magdy yacoub.jpg" alt="info-image">
                    </div>
                </div>
                <!-- INFO TEXT -->
                <div class="col-lg-6">
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Section ID -->
                        <span class="section-id blue-color">@Localizer["Welcome"]</span>
                        <!-- Title -->
                        <h3 class="h3-md steelblue-color">@Localizer["Infoh3"]</h3>
                        <!-- Text -->
                        <p>
                            @Localizer["pr1"]
                        </p>
                        <!-- Singnature -->
                        <div class="singnature mt-35">
                            <!-- Text -->
                            <p class="p-small mb-15"> @Localizer["Ap5"] </p>
                            <!-- Singnature Image -->
                            <!-- Recommended sizes for Retina Ready displays is 400x68px; -->
                            @*<img class="img-fluid" src="~/website/images/signature.png" width="200" height="34"
                                alt="signature-image" />*@
                        </div>
                    </div>
                </div> <!-- END TEXT BLOCK -->
            </div> <!-- End row -->
        </div> <!-- END TOP ROW -->
        <!-- BOTTOM ROW -->
    </div> <!-- End container -->
</section> <!-- END INFO-4 -->
<section id="services-7" class="bg-lightgrey wide-70 servicess-section division">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">
                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">@Localizer["SERVICESh3"] </h3>
                <!-- Text -->
            </div>
        </div>
        <div class="row">
            <!-- SERVICE BOXES -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- SERVICE BOX #1 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s">
                            <a href="service-1.html">
                                <!-- Icon -->
                                <span class="flaticon-137-doctor blue-color"></span>
                                <!-- Text -->
                                <div class="sbox-7-txt">
                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">@Localizer["SERVICE51"]</h5>
                                    <!-- Text -->
                                </div>
                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #1 -->
                    <!-- SERVICE BOX #2 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.6s">
                            <a href="service-2.html">
                                <!-- Icon -->
                                <span class="flaticon-076-microscope blue-color"></span>
                                <!-- Text -->
                                <div class="sbox-7-txt">
                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">@Localizer["SERVICE52"]</h5>
                                    <!-- Text -->
                                </div>
                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #2 -->
                    <!-- SERVICE BOX #3 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.8s">
                            <a href="service-1.html">
                                <!-- Icon -->
                                <span class="flaticon-065-hospital-bed blue-color"></span>
                                <!-- Text -->
                                <div class="sbox-7-txt">
                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color"> @Localizer["SERVICE53"]</h5>
                                    <!-- Text -->
                                </div>
                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #3-->
                    <!-- SERVICE BOX #4 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1s">
                            <a href="service-2.html">
                                <!-- Icon -->
                                <span class="flaticon-058-blood-transfusion-2 blue-color"></span>
                                <!-- Text -->
                                <div class="sbox-7-txt">
                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">@Localizer["SERVICE54"]</h5>
                                    <!-- Text -->
                                </div>
                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #4 -->
                    <!-- SERVICE BOX #5 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1.2s">
                            <a href="service-1.html">
                                <!-- Icon -->
                                <span class="flaticon-141-clinic-history blue-color"></span>
                                <!-- Text -->
                                <div class="sbox-7-txt">
                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">@Localizer["SERVICE55"]</h5>
                                    <!-- Text -->
                                </div>
                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #5 -->
                    <!-- SERVICE BOX #6 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1.4s">
                            <a href="service-2.html">
                                <!-- Icon -->
                                <span class="flaticon-008-ambulance-6 blue-color"></span>
                                <!-- Text -->
                                <div class="sbox-7-txt">
                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">@Localizer["SERVICE56"]</h5>
                                    <!-- Text -->
                                </div>
                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #6 -->
                </div>
            </div> <!-- END SERVICE BOXES -->
            <!-- INFO TABLE -->
            <div class="col-lg-4">
                <div class="services-7-table blue-table mb-30 wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Title -->
                    <h4 class="h4-xs"> @Localizer["OpeningHours"]:</h4>
                    <h2 class="h5-xs">@Localizer["day"]</h2>
                    <!-- Text -->
                    <!-- Table -->
                    @inject BLL.Services.shiftServeses.IShiftServeses shifts;
                    <table class="table">
                        <tbody>
                            @foreach (var item in shifts.GetAll())
                            {
                                <tr>
                                    <td> @Localizer["startday"] : @item.StartShift.ToString("t")</td>
                                    <td class="text-center">- </td>
                                    <td class="text-right">@Localizer["endday"] : @item.EndShift.ToString("t")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div> <!-- END INFO TABLE -->
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END SERVICES-7 -->
<!-- STATISTIC-3 ============================================= -->
<div id="statistic-3" class="wide-60 statistic-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- TEXT BLOCK -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 mb-40 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Section ID -->
                    <span class="section-id blue-color">@Localizer["BestPractices"]</span>
                    <!-- Title -->
                    <h3 class="h3-md steelblue-color"> @Localizer["1"]</h3>
                    <!-- Statistic Holder -->
                    <div class="statistic-holder">
                        <div class="row">
                            <!-- STATISTIC BLOCK #1 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">
                                    <!-- Icon  -->
                                    <span class="flaticon-062-cardiogram-3 blue-color"></span>
                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfPatient()</span>
                                    </h5>
                                    <p>@Localizer["2"]</p>
                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #2 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">
                                    <!-- Icon  -->
                                    <span class="flaticon-137-doctor blue-color"></span>
                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfDoctors()</span>
                                    </h5>
                                    <p> @Localizer["3"]</p>
                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #3 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">
                                    <!-- Icon  -->
                                    <span class="flaticon-137-doctor blue-color"></span>
                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfNurses()</span>
                                    </h5>
                                    <p>@Localizer["4"]</p>
                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #4 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">
                                    <!-- Icon  -->
                                    <span class="flaticon-065-hospital-bed blue-color"></span>
                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfDepartments()</span>
                                    </h5>
                                    <p>@Localizer["5"]</p>
                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #5 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">
                                    <!-- Icon  -->
                                    <span class="flaticon-065-hospital-bed blue-color"></span>
                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfRooms()</span>
                                    </h5>
                                    <p> @Localizer["6"]</p>
                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #6 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">
                                    <!-- Icon  -->
                                    <span class="flaticon-065-hospital-bed blue-color"></span>
                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfEmptyRooms()</span>
                                    </h5>
                                    <p>@Localizer["7"]</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Statistic Holder -->
                </div>
            </div> <!-- END TEXT BLOCK -->
            <!-- STATISTIC IMAGE -->
            <div class="col-lg-6">
                <div class="statistic-img text-center mb-40 wow fadeInUp" data-wow-delay="0.6s">
                    <img class="img-fluid" src="~/website/images/healthcare.png" alt="statistic-image" />
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</div> <!-- END STATISTIC-3 -->
<!-- INFO-6
    ============================================= -->
<section id="info-6" class="bg-blue info-section division">
    <!-- TEXT BLOCK -->
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 offset-lg-6">
                <div class="txt-block pc-30 white-color wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Section ID -->
                    <span class="section-id id-color">@Localizer["Ap6"] </span>
                    <!-- Title -->
                    <h3 class="h3-md">@Localizer["Group"] </h3>
                    <!-- CONTENT BOX #1 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap7"]
                        </p>
                    </div>
                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap8"]
                        </p>
                    </div>
                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap9"]
                        </p>
                    </div>
                    <!-- CONTENT BOX #4 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap10"]
                        </p>
                    </div>
                    <!-- CONTENT BOX #5 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["Ap11"]
                        </p>
                    </div>
                    <!-- Button -->
                    @*<a href="all-doctors.html" class="btn btn-tra-white blue-hover mt-25">@Localizer["Group1"]</a>*@
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- END TEXT BLOCK -->
    <!-- INFO-6 IMAGE -->
    <div class="info-6-img-2 text-center"></div>
</section>
<!-- END INFO-6 -->
<!-- END TABS-1 -->
<!-- TESTIMONIALS-2
    ============================================= -->
<!-- END TESTIMONIALS-2 -->
<!-- DOCTORS-1
    ============================================= -->
<section id="doctors-1" class="wide-40 doctors-section division">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">
                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">@Localizer["Group3"] </h3>
                <!-- Text -->
                <p>
                    @Localizer["SomeDoctores"]
                </p>
            </div>
        </div> <!-- END SECTION TITLE -->
        <div class="row">
            @inject BLL.Services.IDoctorService doctor
            <!-- DOCTOR #1 -->
            @{
                int x = 1;
            }
            @foreach (var item in doctor.GetAll())
            {
                if (x < 5)
                {
                    <div class="col-md-6 col-lg-3">
                        <div class="doctor-1 shadow rounded">
                            <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">
                                <!-- Photo -->
                        <img style=" height: 350px; width: 100%;" src="~/Files/Photos/@item.Photo" alt="..."
                            class="profile_img" />
                                <div class="item-overlay"></div>
                                <!-- Profile Link -->
                        <div class="profile-link">
                                </div>
                            </div>
                            <!-- Doctor Meta -->
                    <div class="doctor-meta">
                                <h5 class="h5-sm steelblue-color">@item.Name</h5>
                                <span class="blue-color">@item.DepartmentName</span>
                            </div>
                        </div>
                    </div>
                }
                x++;
            }
        </div> <!-- End row -->
        <!-- ALL DOCTORS BUTTON -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="all-doctors mb-40">
                    @*<a href="#hero-4" class="btn btn-blue blue-hover">@Localizer["Group1"] </a>*@
                </div>
            </div>
        </div>


    </div> <!-- End container -->
</section> <!-- END DOCTORS-1 -->
<!-- BANNER-7
    ============================================= -->
<section id="banner-7" class="bg-fixed banner-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">


            <!-- BANNER TEXT -->
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="banner-txt wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Title  -->
                    <h2 class="h2-xs">@Localizer["Group4"]</h2>

                    <!-- Text -->
                    <p>
                        @Localizer["HospitalNotes"]
                    </p>

                    <!-- Button -->
                    @*<a href="#" class="btn btn-blue tra-white-hover mt-20">@Localizer["Group5"]</a>*@

                </div>
            </div> <!-- END BANNER TEXT -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END BANNER-7 -->
<!-- VIDEO-2
    ============================================= -->
<section id="video-2" class="wide-60 video-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- VIDEO LINK -->
            <div class="col-md-6">
                <div class="video-preview mb-40 text-center wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Change the link HERE!!! -->
                    <a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">

                        <!-- Play Icon -->
                        <div class="video-btn play-icon-blue">
                            <div class="video-block-wrapper">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>

                        <!-- Preview -->
                        <img class="img-fluid" src="~/website/images/video-1.png" alt="video-photo" />

                    </a>

                </div>
            </div> <!-- END VIDEO LINK -->
            <!-- VIDEO TEXT -->
            <div class="col-md-6">
                <div class="txt-block pc-30 mb-40 wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id blue-color">@Localizer["Group6"] </span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">@Localizer["Group7"]</h3>

                    <!-- CONTENT BOX #1 -->
                    <div class="box-list m-top-15">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["HospitalAdvantage1"]
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["HospitalAdvantage2"]
                        </p>
                    </div>

                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["HospitalAdvantage3"]
                        </p>
                    </div>

                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END VIDEO-2 -->

<section id="about-6" class="pt-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <!-- TEXT BLOCK -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Section ID -->
                    <span class="section-id blue-color"> @Localizer["HighestQualityCare"]</span>
                    <!-- Title -->
                    <h3 class="h3-md steelblue-color"> @Localizer["Group9"]</h3>
                    <!-- CONTENT BOX #1 -->
                    <div class="box-list m-top-15">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["HospitalAdvantage1"]
                        </p>
                    </div>
                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["HospitalAdvantage2"]
                        </p>
                    </div>
                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            @Localizer["HospitalAdvantage3"]
                        </p>
                    </div>
                    <!-- Button -->
                    @*<a href="who-we-are.html" class="btn btn-blue blue-hover mt-25">Who We Are</a>*@
                </div>
            </div> <!-- END TEXT BLOCK -->
            <!-- IMAGE BLOCK -->
            <div class="col-lg-6">
                <div class="about-img text-center wow fadeInUp" data-wow-delay="0.6s">
                    <img class="img-fluid" src="~/website/images/healthcare.png" alt="about-image">
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END ABOUT-6 -->
<!-- END INFO-6 -->
<div id="userGuide">
    <section id="info-6" class="bg-blue info-section division mt-3 mb-3">
        <!-- TEXT BLOCK -->
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 offset-lg-6">
                    <div class="txt-block pc-30 white-color wow fadeInUp" data-wow-delay="0.4s">

                        <!-- Section ID -->
                        <span class="section-id id-color">@Localizer["UserGuide"] </span>

                        <!-- Title -->
                        <h3 class="h3-md">@Localizer["UserGuideDescriptoin"]</h3>

                        <!-- CONTENT BOX #1 -->
                        <div class="box-list">
                            <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                            <p>
                                @Localizer["ElementsOfUserGuide1"]
                            </p>
                        </div>

                        <!-- CONTENT BOX #2 -->
                        <div class="box-list">
                            <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                            <p>
                                @Localizer["ElementsOfUserGuide2"]
                            </p>
                        </div>

                        <!-- CONTENT BOX #3 -->
                        <div class="box-list">
                            <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                            <p>
                                @Localizer["ElementsOfUserGuide3"]
                            </p>
                        </div>

                        <!-- Button -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-tra-white blue-hover mt-25" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            @Localizer["OpenUserGuide1"]
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color:#2f8f9ds" id="exampleModalLabel">
                                            User Guide
                                            (Arabic Version)
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe class="w-100" style="height: 400px;"
                                            src="~/Files/User Guide/User Guide HCR Arabic(3M-A Team).pdf"></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-tra-white blue-hover mt-25" data-bs-toggle="modal"
                            data-bs-target="#UserGuideEnglishVersion">
                            @Localizer["OpenUserGuide2"]
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="UserGuideEnglishVersion" tabindex="-1"
                            aria-labelledby="UserGuideEnglishVersion" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color:#2f8f9d" id="EnglishVersion">
                                            User Guide
                                            (English Version)
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe class="w-100" style="height: 400px;"
                                            src="~/Files/User Guide/User Guide HCR English(3M-A Team).pdf"></iframe>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- END TEXT BLOCK -->
        <!-- INFO-6 IMAGE -->
        <div class="info-6-img text-center"></div>


    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>
    var textWrapper = document.querySelector('.ml6 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml6 .letter',
            translateY: ["1.1em", 0],
            translateZ: 0,
            duration: 1550,
            delay: (el, i) => 50 * i
        }).add({
            targets: '.ml6',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
</script>
<script>
    var textWrapper = document.querySelector('.ml10 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml10 .letter',
            rotateY: [-90, 0],
            duration: 1550,
            delay: (el, i) => 50 * i
        }).add({
            targets: '.ml10',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
</script>




<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<script>

    $(".deeee").change(function () {

        $("#slctDoctor").empty();
        $("#slctDoctor").append("<option>Choose Doctor</option>");

        var DeptId = $("#slctDepartment").val();
        var ShiftId = $("#slctShift").val();

        if (DeptId != 0 && ShiftId != 0) {
            $.ajax({

                type: "POST",
                url: "/Booking/GetDoctorByDepartmentID",
                data: {
                    DeptId: DeptId,
                    ShiftId: ShiftId
                },

                success: function (res) {

                    $.each(res, function (i, e) {
                        $("#slctDoctor").append("<option value='" + e.id + "'>" + e.name + "</option>");
                    });
                }

            });
        }


    });
    $("#slctDoctor").click(function () {
        var DeptId = $("#slctDepartment").val();
        var ShiftId = $("#slctShift").val();

        if (DeptId != 0 && ShiftId != 0) {
            $.ajax({

                type: "POST",
                url: "/Booking/GetDoctorByDepartmentID",
                data: {
                    DeptId: DeptId,
                    ShiftId: ShiftId
                },

                success: function (res) {

                    $.each(res, function (i, e) {
                        $("#slctDoctor").append("<option value='" + e.id + "'>" + e.name + "</option>");
                    });
                }

            });
        }


    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
        if (@ViewBag.Success == 1) {
            swal({
                title: "Success!",
                text: "Booking Successfully",
                type: "success"
            }).then(function () {
                window.location = "/HCRWebsite/Home";
            });
        }
</script>