@model DAL.Models.DailyDetectionViewModel

@{
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/Layout/HCRWebsiteLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> signInManager
@inject BLL.Services.StatisticServices.IStatisticServices Statistics
@inject BLL.Services.PatientServices.IPatientServices Patient
<!-- HERO-4
            ============================================= -->
<section id="hero-4" class="bg-fixed hero-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- HERO TEXT -->
            <div class="col-lg-7 col-xl-7">
                <div class="hero-txt mb-40">

                    <!-- Title -->
                    <h5 class="blue-color">Welcome to HCR</h5>
                    <h2 class="steelblue-color">World class medical treatment for your family</h2>

                    <!-- CONTENT BOX #1 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Fringilla risus nec, luctus mauris orci auctor purus euismod pretium purus at pretium
                            ligula rutrum tempor sapien at pretium luctus ligula luctus risus
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>Quaerat sodales sapien undo euismod purus a blandit pretium ultrice</p>
                    </div>

                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit magna purus pretium
                        </p>
                    </div>

                </div>
            </div> <!-- END HERO TEXT -->
            <!-- HERO APPOINTMENT FORM -->
            @inject BLL.Services.DepartmentServices.IDepartmentSevice Dep
            @inject BLL.Services.shiftServeses.IShiftServeses shift
            <div class="col-lg-5 col-xl-5">
                <div id="hero-section-form" class="text-center mb-40">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <form asp-action="Home" asp-controller="HCRWebsite" class="row hero bg-blue">
                            <!--hero-form this class make error-->
                            <!-- Form Text -->
                            <div class="col-md-12 white-color">
                                <h4 class="h4-xs">Get an Appointment</h4>
                            </div>

                            <!-- Form Select -->
                            <div id="input-doctor" class="col-md-12 input-doctor">
                                <select id="slctShift" class="deeee custom-select doctor"
                                        required>
                                    <option value="">Select Shift</option>
                                    @foreach (var item in shift.GetAll())
                                    {
                                        <option value="@item.Id">@item.StartShift.TimeOfDay - @item.EndShift.TimeOfDay</option>
                                    }
                                </select>
                            </div>
                            <!-- Form Select -->
                            <div id="input-doctor" class="col-md-12 input-doctor">
                                <select id="slctDepartment" asp-for="DepartmentId" class="deeee custom-select doctor"
                                        required>
                                    <option value="">- Departments -</option>
                                    @foreach (var item in Dep.GetAll())
                                    {
                                        <option value="@item.DepartmentId">@item.Name</option>
                                    }

                                </select>
                            </div>


                            <!-- Form Select -->
                            <div id="input-doctor" class="col-md-12 input-doctor">
                                <select id="slctDoctor" asp-for="DoctorId" class="custom-select doctor"
                                        required>
                                    <option value="">Select Doctor</option>

                                </select>
                            </div>
                            <!-- Contact Form Input -->
                            <div id="input-date" class="col-lg-12">
                                <input id="datetimepicker" type="text" asp-for="DateAndTime" class="form-control date"
                                       placeholder="Appointment Date" required>
                            </div>


                            <!-- Contact Form Button -->
                            <div class="col-lg-12 form-btn">
                                <button type="submit" class="btn btn-orange tra-white-hover submit">
                                    Send Your
                                    Message
                                </button>
                            </div>

                            <!-- Contact Form Message -->
                            <div class="col-lg-12 hero-form-msg text-center">
                                <div class="sending-msg"><span class="loading"></span></div>
                            </div>

                        </form>
                    }
                    else
                    {
                        <h3 style="color:black">If you want to make an appointment you should login</h3>
                        <a class="btn btn-blue blue-hover submit" asp-action="Login" asp-controller="Account">Click Here To Login</a>

                    }

                </div>
            </div> <!-- END HERO APPOINTMENT FORM -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END HERO-4 -->
<!-- INFO-4
    ============================================= -->
<section id="info-4" class="wide-100 info-section division">
    <div class="container">


        <!-- TOP ROW -->
        <div class="top-row mb-80">
            <div class="row d-flex align-items-center">


                <!-- INFO IMAGE -->
                <div class="col-lg-6">
                    <div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
                        <img class="img-fluid" src="~/website/images/chief_doctor_700x800.jpg" alt="info-image">
                    </div>
                </div>


                <!-- INFO TEXT -->
                <div class="col-lg-6">
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                        <!-- Section ID -->
                        <span class="section-id blue-color">Welcome to HCR</span>

                        <!-- Title -->
                        <h3 class="h3-md steelblue-color">Clinic with Innovative Approach to Treatment</h3>

                        <!-- Text -->
                        <p>
                            An enim nullam tempor sapien gravida donec pretium ipsum porta justo integer at odio
                            velna vitae auctor integer congue magna purus pretium ligula rutrum luctus ultrice
                            aliquam
                            a augue suscipit
                        </p>

                        <!-- Text -->
                        <p>
                            Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus
                            feugiat
                            dolor lacinia cubilia curae integer congue leo metus, eu mollislorem primis in orci
                            integer
                            metus mollis faucibus. An enim nullam tempor sapien gravida donec pretium and ipsum
                            porta
                            justo integer at velna vitae auctor integer congue
                        </p>

                        <!-- Singnature -->
                        <div class="singnature mt-35">

                            <!-- Text -->
                            <p class="p-small mb-15">Randon Pexon, Head of Clinic</p>

                            <!-- Singnature Image -->
                            <!-- Recommended sizes for Retina Ready displays is 400x68px; -->
                            <img class="img-fluid" src="~/website/images/signature.png" width="200" height="34"
                                 alt="signature-image" />

                        </div>

                    </div>
                </div> <!-- END TEXT BLOCK -->


            </div> <!-- End row -->
        </div> <!-- END TOP ROW -->
        <!-- BOTTOM ROW -->
        <div class="bottom-row">
            <div class="row d-flex align-items-center">


                <!-- INFO TEXT -->
                <div class="col-lg-6">
                    <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                        <!-- Section ID -->
                        <span class="section-id blue-color">Highest Quality Care</span>

                        <!-- Title -->
                        <h3 class="h3-md steelblue-color">Complete Medical Solutions in One Place</h3>

                        <!-- Text -->
                        <p class="mb-30">
                            An enim nullam tempor sapien gravida donec enim ipsum blandit
                            porta justo integer odio velna vitae auctor integer congue magna at pretium
                            purus pretium ligula rutrum itae laoreet augue posuere and curae integer
                            congue leo metus mollis primis and mauris
                        </p>

                        <!-- Options List -->
                        <div class="row">

                            <div class="col-xl-6">

                                <!-- Option #1 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Nemo ipsam egestas volute and turpis dolores quaerat</p>
                                </div>

                                <!-- Option #2 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Magna luctus tempor</p>
                                </div>

                                <!-- Option #3 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">An enim nullam tempor at pretium purus blandit</p>
                                </div>

                            </div>

                            <div class="col-xl-6">

                                <!-- Option #4 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Magna luctus tempor blandit a vitae suscipit mollis</p>
                                </div>

                                <!-- Option #5 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">Nemo ipsam egestas volute turpis dolores quaerat</p>
                                </div>

                                <!-- Option #6 -->
                                <div class="box-list">
                                    <div class="box-list-icon blue-color">
                                        <i class="fas fa-angle-double-right"></i>
                                    </div>
                                    <p class="p-sm">An enim nullam tempor</p>
                                </div>

                            </div>

                        </div> <!-- End Options List -->

                    </div>
                </div> <!-- END INFO TEXT -->
                <!-- INFO IMAGE -->
                <div class="col-lg-6">
                    <div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
                        <img class="img-fluid" src="~/website/images/emergency_help_700x800.jpg" alt="info-image">
                    </div>
                </div>


            </div> <!-- End row -->
        </div> <!-- END BOTTOM ROW -->


    </div> <!-- End container -->
</section> <!-- END INFO-4 -->
<!-- SERVICES-7
    ============================================= -->
<section id="services-7" class="bg-lightgrey wide-70 servicess-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Total Health Care Solutions</h3>

                <!-- Text -->
                <p>
                    Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero at tempus,
                    blandit posuere ligula varius congue cursus porta feugiat
                </p>

            </div>
        </div>


        <div class="row">


            <!-- SERVICE BOXES -->
            <div class="col-lg-8">
                <div class="row">


                    <!-- SERVICE BOX #1 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.4s">
                            <a href="service-1.html">

                                <!-- Icon -->
                                <span class="flaticon-137-doctor blue-color"></span>

                                <!-- Text -->
                                <div class="sbox-7-txt">

                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">Top Level Doctors</h5>

                                    <!-- Text -->
                                    <p class="p-sm">
                                        Porta semper lacus at cursus primis ultrice in ligula risus
                                        an
                                        auctor tempus feugiat dolor
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #1 -->
                    <!-- SERVICE BOX #2 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.6s">
                            <a href="service-2.html">

                                <!-- Icon -->
                                <span class="flaticon-076-microscope blue-color"></span>

                                <!-- Text -->
                                <div class="sbox-7-txt">

                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">Modern Equipment</h5>

                                    <!-- Text -->
                                    <p class="p-sm">
                                        Porta semper lacus at cursus primis ultrice in ligula risus
                                        an
                                        auctor tempus feugiat dolor
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #2 -->
                    <!-- SERVICE BOX #3 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="0.8s">
                            <a href="service-1.html">

                                <!-- Icon -->
                                <span class="flaticon-065-hospital-bed blue-color"></span>

                                <!-- Text -->
                                <div class="sbox-7-txt">

                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">Qualified Facilities</h5>

                                    <!-- Text -->
                                    <p class="p-sm">
                                        Porta semper lacus at cursus primis ultrice in ligula risus
                                        an
                                        auctor tempus feugiat dolor
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #3-->
                    <!-- SERVICE BOX #4 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1s">
                            <a href="service-2.html">

                                <!-- Icon -->
                                <span class="flaticon-058-blood-transfusion-2 blue-color"></span>

                                <!-- Text -->
                                <div class="sbox-7-txt">

                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">Professional Services</h5>

                                    <!-- Text -->
                                    <p class="p-sm">
                                        Porta semper lacus at cursus primis ultrice in ligula risus
                                        an
                                        auctor tempus feugiat dolor
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #4 -->
                    <!-- SERVICE BOX #5 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1.2s">
                            <a href="service-1.html">

                                <!-- Icon -->
                                <span class="flaticon-141-clinic-history blue-color"></span>

                                <!-- Text -->
                                <div class="sbox-7-txt">

                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">Medical Counseling</h5>

                                    <!-- Text -->
                                    <p class="p-sm">
                                        Porta semper lacus at cursus primis ultrice in ligula risus
                                        an
                                        auctor tempus feugiat dolor
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #5 -->
                    <!-- SERVICE BOX #6 -->
                    <div class="col-md-6">
                        <div class="sbox-7 icon-xs wow fadeInUp" data-wow-delay="1.4s">
                            <a href="service-2.html">

                                <!-- Icon -->
                                <span class="flaticon-008-ambulance-6 blue-color"></span>

                                <!-- Text -->
                                <div class="sbox-7-txt">

                                    <!-- Title -->
                                    <h5 class="h5-sm steelblue-color">Emergency Help</h5>

                                    <!-- Text -->
                                    <p class="p-sm">
                                        Porta semper lacus at cursus primis ultrice in ligula risus
                                        an
                                        auctor tempus feugiat dolor
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div> <!-- END SERVICE BOX #6 -->


                </div>
            </div> <!-- END SERVICE BOXES -->
            <!-- INFO TABLE -->
            <div class="col-lg-4">
                <div class="services-7-table blue-table mb-30 wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Title -->
                    <h4 class="h4-xs">Opening Hours:</h4>

                    <!-- Text -->
                    <p class="p-sm">
                        Porta semper lacus cursus and feugiat primis ultrice ligula risus auctor
                        tempus feugiat and dolor lacinia cursus
                    </p>

                    <!-- Table -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Mon – Wed</td>
                                <td> - </td>
                                <td class="text-right">9:00 AM - 7:00 PM</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>-</td>
                                <td class="text-right">9:00 AM - 6:30 PM</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>-</td>
                                <td class="text-right">9:00 AM - 6:00 PM</td>
                            </tr>
                            <tr class="last-tr">
                                <td>Sun - Sun</td>
                                <td>-</td>
                                <td class="text-right">Closed</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Title -->
                    <h5 class="h5-sm">Need a personal health plan?</h5>

                    <!-- Text -->
                    <p class="p-sm">
                        Porta semper lacus cursus, and feugiat primis ultrice ligula at risus auctor
                    </p>

                </div>
            </div> <!-- END INFO TABLE -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END SERVICES-7 -->
<!-- STATISTIC-3
    ============================================= -->
<div id="statistic-3" class="wide-60 statistic-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- TEXT BLOCK -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 mb-40 wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Best Practices</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">collection of hospital statistics that may help you</h3>



                    <!-- Statistic Holder -->
                    <div class="statistic-holder">
                        <div class="row">

                            <!-- STATISTIC BLOCK #1 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">

                                    <!-- Icon  -->
                                    <span class="flaticon-062-cardiogram-3 blue-color"></span>

                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfPatient()</span>
                                    </h5>
                                    <p>Happy Patients</p>

                                </div>
                            </div>

                            <!-- STATISTIC BLOCK #2 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">

                                    <!-- Icon  -->
                                    <span class="flaticon-137-doctor blue-color"></span>

                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfDoctors()</span>
                                    </h5>
                                    <p>Qualified Doctors</p>

                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #3 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">

                                    <!-- Icon  -->
                                    <span class="flaticon-137-doctor blue-color"></span>

                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfNurses()</span>
                                    </h5>
                                    <p>Qualified Nurses</p>

                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #4 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">

                                    <!-- Icon  -->
                                    <span class="flaticon-065-hospital-bed blue-color"></span>

                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfDepartments()</span>
                                    </h5>
                                    <p>Departments</p>

                                </div>
                            </div>

                            <!-- STATISTIC BLOCK #5 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">

                                    <!-- Icon  -->
                                    <span class="flaticon-065-hospital-bed blue-color"></span>

                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfRooms()</span>
                                    </h5>
                                    <p>Clinic Rooms</p>

                                </div>
                            </div>
                            <!-- STATISTIC BLOCK #6 -->
                            <div class="col-sm-4">
                                <div class="statistic-block icon-sm">

                                    <!-- Icon  -->
                                    <span class="flaticon-065-hospital-bed blue-color"></span>

                                    <!-- Text -->
                                    <h5 class="statistic-number steelblue-color">
                                        <span class="count-element">@Statistics.NumberOfEmptyRooms()</span>
                                    </h5>
                                    <p>Empty Clinic Rooms</p>

                                </div>
                            </div>


                        </div>
                    </div> <!-- End Statistic Holder -->


                </div>
            </div> <!-- END TEXT BLOCK -->
            <!-- STATISTIC IMAGE -->
            <div class="col-lg-6">
                <div class="statistic-img text-center mb-40 wow fadeInUp" data-wow-delay="0.6s">
                    <img class="img-fluid" src="~/website/images/image-04.png" alt="statistic-image" />
                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</div> <!-- END STATISTIC-3 -->
<!-- INFO-6
    ============================================= -->
<section id="info-6" class="bg-blue info-section division">


    <!-- TEXT BLOCK -->
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 offset-lg-6">
                <div class="txt-block pc-30 white-color wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id id-color">Qualified Doctors</span>

                    <!-- Title -->
                    <h3 class="h3-md">Group of Certified and Experienced Doctors</h3>

                    <!-- CONTENT BOX #1 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Maecenas gravida porttitor nunc, quis vehicula magna luctus tempor. Quisque vel
                            laoreet
                            turpis urna augue, viverra a augue eget, dictum tempor diam pulvinar massa purus
                            nulla
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit
                        </p>
                    </div>

                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit magna purus pretium gravida donec ligula massa in
                            faucibus
                        </p>
                    </div>

                    <!-- Button -->
                    <a href="all-doctors.html" class="btn btn-tra-white blue-hover mt-25">Meet The Doctors</a>

                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- END TEXT BLOCK -->
    <!-- INFO-6 IMAGE -->
    <div class="info-6-img text-center"></div>


</section> <!-- END INFO-6 -->
<!-- TABS-1
    ============================================= -->
<section id="tabs-1" class="wide-100 tabs-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <!-- TABS NAVIGATION -->
                <div id="tabs-nav" class="list-group text-center">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">

                        <!-- TAB-1 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link active" id="tab1-list" data-toggle="pill" href="#tab-1"
                               role="tab" aria-controls="tab-1" aria-selected="true">
                                <span class=""></span> Pediatrics
                            </a>
                        </li>

                        <!-- TAB-2 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link" id="tab2-list" data-toggle="pill" href="#tab-2" role="tab"
                               aria-controls="tab-2" aria-selected="false">
                                <span class="flaticon-005-blood-donation-3"></span> Hematology
                            </a>
                        </li>

                        <!-- TAB-3 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link" id="tab3-list" data-toggle="pill" href="#tab-3" role="tab"
                               aria-controls="tab-3" aria-selected="false">
                                <span class="flaticon-031-scanner"></span> MRI
                            </a>
                        </li>

                        <!-- TAB-4 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link" id="tab4-list" data-toggle="pill" href="#tab-4" role="tab"
                               aria-controls="tab-4" aria-selected="false">
                                <span class="flaticon-048-lungs"></span> X-Ray Diagnostics
                            </a>
                        </li>

                    </ul>

                </div> <!-- END TABS NAVIGATION -->
                <!-- TABS CONTENT -->
                <div class="tab-content" id="pills-tabContent">


                    <!-- TAB-1 CONTENT -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel"
                         aria-labelledby="tab1-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-1 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-img">
                                    <img class="img-fluid" src="~/website/images/pediatrics_700x700.jpg"
                                         alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-1 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">Pediatrics</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        An enim nullam tempor sapien gravida donec enim ipsum
                                        blandit
                                        porta justo integer odio velna vitae auctor integer congue magna at
                                        pretium
                                        purus pretium ligula rutrum itae laoreet augue in cubilia laoreet an
                                        augue
                                        egestas ipsum vitae emo ligula vitae arcu mollis blandit ultrice ligula
                                        egestas
                                        magna suscipit
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute and turpis dolores
                                                    quaerat
                                                </p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">Magna luctus tempor</p>
                                            </div>

                                            <!-- Option  #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    An enim nullam tempor at pretium purus blandit
                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Magna luctus tempor blandit a vitae suscipit
                                                    mollis
                                                </p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute turpis dolores quaerat
                                                </p>
                                            </div>

                                            <!-- Option #6 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">An enim nullam tempor</p>
                                            </div>

                                        </div>

                                    </div> <!-- End Options List -->
                                    <!-- Button -->
                                    <a href="service-1.html" class="btn btn-blue blue-hover mt-30">
                                        View More
                                        Details
                                    </a>

                                </div>
                            </div> <!-- END TAB-1 TEXT -->


                        </div>
                    </div> <!-- END TAB-1 CONTENT -->
                    <!-- TAB-2 CONTENT -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-2 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-imgs">
                                    <img class="img-fluid" src="~/website/images/hematology_700x700.jpg"
                                         alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-2 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">Hematology</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        An enim nullam tempor sapien gravida donec enim ipsum
                                        blandit
                                        porta justo integer odio velna vitae auctor integer congue magna at
                                        pretium
                                        purus pretium ligula rutrum itae laoreet augue in cubilia laoreet an
                                        augue
                                        egestas ipsum vitae emo ligula vitae arcu mollis blandit ultrice ligula
                                        egestas
                                        magna suscipit
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute and turpis dolores
                                                    quaerat
                                                </p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">Magna luctus tempor</p>
                                            </div>

                                            <!-- Option #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    An enim nullam tempor at pretium purus blandit
                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Magna luctus tempor blandit a vitae suscipit
                                                    mollis
                                                </p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute turpis dolores quaerat
                                                </p>
                                            </div>

                                            <!-- Option #6 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">An enim nullam tempor</p>
                                            </div>

                                        </div>

                                    </div> <!-- End Options List -->
                                    <!-- Button -->
                                    <a href="service-2.html" class="btn btn-blue blue-hover mt-30">
                                        View More
                                        Details
                                    </a>

                                </div>
                            </div> <!-- END TAB-2 TEXT -->


                        </div>
                    </div> <!-- END TAB-2 CONTENT -->
                    <!-- TAB-3 CONTENT -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-3 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-img">
                                    <img class="img-fluid" src="~/website/images/mri_700x700.jpg" alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-3 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">MRI Diagnostic</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        An enim nullam tempor sapien gravida donec enim ipsum
                                        blandit
                                        porta justo integer odio velna vitae auctor integer congue magna at
                                        pretium
                                        purus pretium ligula rutrum itae laoreet augue in cubilia laoreet an
                                        augue
                                        egestas ipsum vitae emo ligula vitae arcu mollis blandit ultrice ligula
                                        egestas
                                        magna suscipit
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute and turpis dolores
                                                    quaerat
                                                </p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">Magna luctus tempor</p>
                                            </div>

                                            <!-- Option #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    An enim nullam tempor at pretium purus blandit
                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Magna luctus tempor blandit a vitae suscipit
                                                    mollis
                                                </p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute turpis dolores quaerat
                                                </p>
                                            </div>

                                            <!-- Option #6 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">An enim nullam tempor</p>
                                            </div>

                                        </div>

                                    </div> <!-- End Options List -->
                                    <!-- Button -->
                                    <a href="service-1.html" class="btn btn-blue blue-hover mt-30">
                                        View More
                                        Details
                                    </a>

                                </div>
                            </div> <!-- END TAB-3 TEXT -->


                        </div>
                    </div> <!-- END TAB-3 CONTENT -->
                    <!-- TAB-4 CONTENT -->
                    <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-4 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-img">
                                    <img class="img-fluid" src="~/website/images/x-ray_700x700.jpg" alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-4 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">X-Ray Diagnostic</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        An enim nullam tempor sapien gravida donec enim ipsum
                                        blandit
                                        porta justo integer odio velna vitae auctor integer congue magna at
                                        pretium
                                        purus pretium ligula rutrum itae laoreet augue in cubilia laoreet an
                                        augue
                                        egestas ipsum vitae emo ligula vitae arcu mollis blandit ultrice ligula
                                        egestas
                                        magna suscipit
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute and turpis dolores
                                                    quaerat
                                                </p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">Magna luctus tempor</p>
                                            </div>

                                            <!-- Option #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    An enim nullam tempor at pretium purus blandit
                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Magna luctus tempor blandit a vitae suscipit
                                                    mollis
                                                </p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">
                                                    Nemo ipsam egestas volute turpis dolores quaerat
                                                </p>
                                            </div>

                                            <!-- Option #6 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color">
                                                    <i class="fas fa-angle-double-right"></i>
                                                </div>
                                                <p class="p-sm">An enim nullam tempor</p>
                                            </div>

                                        </div>

                                    </div> <!-- End Options List -->
                                    <!-- Button -->
                                    <a href="service-2.html" class="btn btn-blue blue-hover mt-30">
                                        View More
                                        Details
                                    </a>

                                </div>
                            </div> <!-- END TAB-4 TEXT -->


                        </div>
                    </div> <!-- END TAB-4 CONTENT -->


                </div> <!-- END TABS CONTENT -->


            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END TABS-1 -->
<!-- TESTIMONIALS-2
    ============================================= -->
<section id="reviews-2" class="bg-lightgrey wide-100 reviews-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">What Our Patients Say</h3>

                <!-- Text -->
                <p>
                    Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero at tempus,
                    blandit posuere ligula varius congue cursus porta feugiat
                </p>

            </div>
        </div> <!-- END SECTION TITLE -->
        <!-- TESTIMONIALS CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme reviews-holder">


                    <!--for (int i = 1; i < 10; i++)
                    {
                        {
                            var PatientData = await Patient.GetByID(i);

                            <div class="review-2">
                                <div class="review-txt text-center">-->

                                    <!-- Quote -->
                                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->

                                    <!-- Author Avatar -->
                                    <!--<div class="testimonial-avatar">

                                        <img src="~/Files/Photos/PatientData.photo" alt="..." class="img-circle profile_img" />
                                    </div>-->

                                    <!-- Testimonial Text -->
                                    <!--<p>

                                        Etiam sapien sem at sagittis congue an augue massa varius egestas a suscipit
                                        magna undo tempus aliquet porta vitae
                                    </p>-->

                                    <!-- Testimonial Author -->
                                    <!--<div class="review-author">
                                        <h5 class="h5-sm">PatientData.Name</h5>

                                    </div>

                                </div>
                            </div>
                        }
                    }-->
                    <!-- TESTIMONIAL #1 -->
                    <!--END  TESTIMONIAL #1 -->
                    <!-- TESTIMONIAL #2 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-2.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        Mauris donec ociis magnisa a sapien etiam sapien congue augue egestas et ultrice
                        vitae purus diam integer congue magna ligula egestas
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Penelopa Peterson</h5>
                                <span>Project Manager</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #2 -->
                    <!-- TESTIMONIAL #3 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-3.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        At sagittis congue augue an egestas magna ipsum vitae purus ipsum primis undo
                        cubilia
                        laoreet augue
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">M.Scanlon</h5>
                                <span>Photographer</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #3 -->
                    <!-- TESTIMONIAL #4 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-4.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        Mauris donec ociis magnis sapien etiam sapien congue augue pretium ligula
                        a lectus aenean magna mauris
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Jeremy Kruse</h5>
                                <span>Graphic Designer</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #4 -->
                    <!-- TESTIMONIAL #5 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-5.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        An augue in cubilia laoreet magna suscipit egestas magna ipsum at purus ipsum
                        primis in augue ulta ligula egestas
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Evelyn Martinez</h5>
                                <span>Senior UX/UI Designer</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #5 -->
                    <!-- TESTIMONIAL #6 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-6.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        An augue cubilia laoreet undo magna at risus suscipit egestas magna an ipsum
                        ligula
                        vitae and purus ipsum primis
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Dan Hodges</h5>
                                <span>Internet Surfer</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #6 -->
                    <!-- TESTIMONIAL #7 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-7.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        Augue egestas volutpat egestas augue in cubilia laoreet magna suscipit luctus
                        and dolor blandit vitae
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Isabel M.</h5>
                                <span>SEO Manager</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #7 -->
                    <!-- TESTIMONIAL #8 -->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-8.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        Augue egestas volutpat egestas augue in cubilia laoreet magna suscipit luctus
                        and dolor blandit vitae
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Alex Ross</h5>
                                <span>Patient</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #8 -->
                    <!-- TESTIMONIAL #9-->
                    <!--<div class="review-2">
                        <div class="review-txt text-center">-->
                    <!-- Quote -->
                    <!--<div class="quote"><img src="~/website/images/quote.png" alt="quote-img" /></div>-->
                    <!-- Author Avatar -->
                    <!--<div class="testimonial-avatar">
                        <img src="~/website/images/review-author-9.jpg" alt="testimonial-avatar">
                    </div>-->
                    <!-- Testimonial Text -->
                    <!--<p>
                        Augue egestas volutpat egestas augue in cubilia laoreet magna suscipit luctus
                        magna dolor neque vitae
                    </p>-->
                    <!-- Testimonial Author -->
                    <!--<div class="review-author">
                                <h5 class="h5-sm">Alisa Milano</h5>
                                <span>Housewife</span>
                            </div>

                        </div>
                    </div>-->
                    <!-- END TESTIMONIAL #9 -->


                </div>
            </div>
        </div> <!-- END TESTIMONIALS CONTENT -->


    </div> <!-- End container -->
</section> <!-- END TESTIMONIALS-2 -->
<!-- DOCTORS-1
    ============================================= -->
<section id="doctors-1" class="wide-40 doctors-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Our Medical Specialists</h3>

                <!-- Text -->
                <p>
                    Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero at tempus,
                    blandit posuere ligula varius congue cursus porta feugiat
                </p>

            </div>
        </div> <!-- END SECTION TITLE -->


        <div class="row">


            <!-- DOCTOR #1 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="~/website/images/doctor-1.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">
                                View
                                More Info
                            </a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Jonathan Barnes D.M.</h5>
                        <span class="blue-color">Chief Medical Officer</span>

                        <p class="p-sm grey-color">
                            Donec vel sapien augue integer turpis cursus porta, mauris
                            sed
                            augue luctus magna dolor luctus ipsum neque
                        </p>

                    </div>

                </div>
            </div> <!-- END DOCTOR #1 -->
            <!-- DOCTOR #2 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="~/website/images/doctor-2.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">
                                View
                                More Info
                            </a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Hannah Harper D.M.</h5>
                        <span class="blue-color">Anesthesiologist</span>

                        <p class="p-sm grey-color">
                            Donec vel sapien augue integer turpis cursus porta, mauris
                            sed
                            augue luctus magna dolor luctus ipsum neque
                        </p>

                    </div>

                </div>
            </div> <!-- END DOCTOR #2 -->
            <!-- DOCTOR #3 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="~/website/images/doctor-3.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">
                                View
                                More Info
                            </a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Matthew Anderson D.M.</h5>
                        <span class="blue-color">Cardiology</span>

                        <p class="p-sm grey-color">
                            Donec vel sapien augue integer turpis cursus porta, mauris
                            sed
                            augue luctus magna dolor luctus ipsum neque
                        </p>

                    </div>

                </div>
            </div> <!-- END DOCTOR #3 -->
            <!-- DOCTOR #4 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="~/website/images/doctor-4.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">
                                View
                                More Info
                            </a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Megan Coleman D.M.</h5>
                        <span class="blue-color">Neurosurgeon</span>

                        <p class="p-sm grey-color">
                            Donec vel sapien augue integer turpis cursus porta, mauris
                            sed
                            augue luctus magna dolor luctus ipsum neque
                        </p>

                    </div>

                </div>
            </div> <!-- END DOCTOR #4 -->


        </div> <!-- End row -->
        <!-- ALL DOCTORS BUTTON -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="all-doctors mb-40">
                    <a href="all-doctors.html" class="btn btn-blue blue-hover">Meet All Doctors</a>
                </div>
            </div>
        </div>


    </div> <!-- End container -->
</section> <!-- END DOCTORS-1 -->
<!-- BANNER-7
    ============================================= -->
<section id="banner-7" class="bg-fixed banner-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">


            <!-- BANNER TEXT -->
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="banner-txt wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Title  -->
                    <h2 class="h2-xs">Highest Quality Medical Treatment</h2>

                    <!-- Text -->
                    <p>
                        Egestas magna egestas magna ipsum vitae purus ipsum primis in cubilia laoreet augue
                        egestas suscipit lectus mauris a lectus laoreet gestas neque undo luctus feugiat augue
                        suscipit
                    </p>

                    <!-- Button -->
                    <a href="#" class="btn btn-blue tra-white-hover mt-20">Free Consultation</a>

                </div>
            </div> <!-- END BANNER TEXT -->


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END BANNER-7 -->
<!-- VIDEO-2
    ============================================= -->
<section id="video-2" class="wide-60 video-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- VIDEO LINK -->
            <div class="col-md-6">
                <div class="video-preview mb-40 text-center wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Change the link HERE!!! -->
                    <a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">

                        <!-- Play Icon -->
                        <div class="video-btn play-icon-blue">
                            <div class="video-block-wrapper">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>

                        <!-- Preview -->
                        <img class="img-fluid" src="~/website/images/video-1.png" alt="video-photo" />

                    </a>

                </div>
            </div> <!-- END VIDEO LINK -->
            <!-- VIDEO TEXT -->
            <div class="col-md-6">
                <div class="txt-block pc-30 mb-40 wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Modern Medicine</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Better Technologies for Better Healthcare</h3>

                    <!-- CONTENT BOX #1 -->
                    <div class="box-list m-top-15">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Gravida quis vehicula magna luctus tempor quisque vel laoreet turpis urna augue,
                            viverra a augue eget dictum
                        </p>
                    </div>

                    <!-- CONTENT BOX #3 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit
                        </p>
                    </div>

                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END VIDEO-2 -->
<!-- BLOG-1
    ============================================= -->
<section id="blog-1" class="bg-lightgrey wide-60 blog-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Our Stories, Tips & Latest News</h3>

                <!-- Text -->
                <p>
                    Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis libero at tempus,
                    blandit posuere ligula varius congue cursus porta feugiat
                </p>

            </div>
        </div>


        <!-- BLOG POSTS HOLDER -->
        <div class="row">


            <!-- BLOG POST #1 -->
            <div class="col-lg-4">
                <div class="blog-post wow fadeInUp" data-wow-delay="0.4s">

                    <!-- BLOG POST IMAGE -->
                    <div class="blog-post-img">
                        <img class="img-fluid" src="~/website/images/blog/post-1-img.jpg" alt="blog-post-image" />
                    </div>

                    <!-- BLOG POST TITLE -->
                    <div class="blog-post-txt">

                        <!-- Post Title -->
                        <h5 class="h5-sm steelblue-color">
                            <a href="single-post.html">
                                5 Benefits Of Integrative
                                Medicine
                            </a>
                        </h5>

                        <!-- Post Data -->
                        <span>May 03, 2022by <span>Dr.Jeremy Smith</span></span>

                        <!-- Post Text -->
                        <p>
                            Quaerat neque purus ipsum neque dolor primis libero tempus impedit tempor blandit
                            sapien at
                            gravida donec ipsum, at porta justo...
                        </p>

                    </div>

                </div>
            </div> <!-- END  BLOG POST #1 -->
            <!-- BLOG POST #2 -->
            <div class="col-lg-4">
                <div class="blog-post wow fadeInUp" data-wow-delay="0.6s">

                    <!-- BLOG POST IMAGE -->
                    <div class="blog-post-img">
                        <img class="img-fluid" src="~/website/images/blog/post-2-img.jpg" alt="blog-post-image" />
                    </div>

                    <!-- BLOG POST TEXT -->
                    <div class="blog-post-txt">

                        <!-- Post Title -->
                        <h5 class="h5-sm steelblue-color">
                            <a href="single-post.html">
                                Your Health Is In Your
                                Hands
                            </a>
                        </h5>

                        <!-- Post Data -->
                        <span>Apr 28, 2022by <span>Dr.Jonathan Barnes</span></span>

                        <!-- Post Text -->
                        <p>
                            Quaerat neque purus ipsum neque dolor primis libero tempus impedit tempor blandit
                            sapien at
                            gravida donec ipsum, at porta justo...
                        </p>

                    </div>

                </div>
            </div> <!-- END  BLOG POST #2 -->
            <!-- BLOG POST #3 -->
            <div class="col-lg-4">
                <div class="blog-post wow fadeInUp" data-wow-delay="0.8s">

                    <!-- BLOG POST IMAGE -->
                    <div class="blog-post-img">
                        <img class="img-fluid" src="~/website/images/blog/post-3-img.jpg" alt="blog-post-image" />
                    </div>

                    <!-- BLOG POST TEXT -->
                    <div class="blog-post-txt">

                        <!-- Post Title -->
                        <h5 class="h5-sm steelblue-color">
                            <a href="single-post.html">
                                How Weather Impacts Your
                                Health
                            </a>
                        </h5>

                        <!-- Post Data -->
                        <span>Apr 17, 2022by <span>Dr.Megan Coleman</span></span>

                        <!-- Post Text -->
                        <p>
                            Quaerat neque purus ipsum neque dolor primis libero tempus impedit tempor blandit
                            sapien at
                            gravida donec ipsum, at porta justo...
                        </p>

                    </div>

                </div>
            </div> <!-- END  BLOG POST #3 -->


        </div> <!-- END BLOG POSTS HOLDER -->
        <!-- ALL POSTS BUTTON -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="all-posts-btn mb-40 wow fadeInUp" data-wow-delay="1s">
                    <a href="blog-listing.html" class="btn btn-blue blue-hover">Read More Posts</a>
                </div>
            </div>
        </div>


    </div> <!-- End container -->
</section> <!-- END BLOG-1 -->
<!-- ABOUT-6
    ============================================= -->
<section id="about-6" class="pt-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- TEXT BLOCK -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Highest Quality Care</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">HCR is the Best Health Care Website</h3>

                    <!-- CONTENT BOX #1 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien undo
                            pretium
                            purus feugiat dolor impedit
                        </p>
                    </div>

                    <!-- CONTENT BOX #2 -->
                    <div class="box-list">
                        <div class="box-list-icon"><i class="fas fa-genderless"></i></div>
                        <p>
                            Maecenas gravida porttitor nunc, quis vehicula magna luctus tempor. Quisque vel
                            laoreet
                            turpis urna augue, viverra a augue eget, dictum tempor diam pulvinar massa purus
                            nulla
                        </p>
                    </div>

                    <!-- Button -->
                    <a href="who-we-are.html" class="btn btn-blue blue-hover mt-25">Who We Are</a>

                </div>
            </div> <!-- END TEXT BLOCK -->
            <!-- IMAGE BLOCK -->
            <div class="col-lg-6">
                <div class="about-img text-center wow fadeInUp" data-wow-delay="0.6s">
                    <img class="img-fluid" src="~/website/images/image-02.png" alt="about-image">
                </div>
            </div>


        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- END ABOUT-6 -->
<script src="~/jquery/jquery.min.js"></script>


<script>

    $(".deeee").change(function () {

        $("#slctDoctor").empty();
        $("#slctDoctor").append("<option>Choose Doctor</option>");

        var DeptId = $("#slctDepartment").val();
        var ShiftId = $("#slctShift").val();

        if (DeptId != 0 && ShiftId != 0) {
            $.ajax({

                type: "POST",
                url: "/Booking/GetDoctorByDepartmentID",
                data: {
                    DeptId: DeptId,
                    ShiftId: ShiftId
                },

                success: function (res) {

                    $.each(res, function (i, e) {
                        $("#slctDoctor").append("<option value='" + e.id + "'>" + e.name + "</option>");
                    });
                }

            });
        }


    });
</script>

