@model DAL.Models.PatientViewModel
@{
    ViewBag.Title = "Register";
    Layout = "/Views/Shared/Layout/HCRWebsiteLayout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!--<section id="contacts-1" class="wide-60 contacts-section division">-->
<!-- SECTION TITLE -->
<!-- End row -->
<!-- End container -->
<!--</section>-->

<div class="row  add-patient m-0">
    <div class="col-12 col-md-6 mt-5 ps-5  pt-5">
        <h2 class="mt-5 header-form Register"> <b>HCR |</b> Register </h2>
        <form class="mt-5 mb-2" asp-controller="HCRWebsite" asp-action="Register" method="post"
            enctype="multipart/form-data">
            <div class="row clearfix">
                <!-- name  -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control input" asp-for="Name" placeholder="User name" />
                        <label for="floatingInput">@Localizer["Name"]</label>

                    </div>
                    <span asp-validation-for=Name class="text-danger"></span>
                </div>
                <!-- id number -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                        <input type="number" class="form-control input" asp-for="SSN" placeholder="National Number"
                            maxlength="14" required />
                        <label for="NationalNumber">@Localizer["SSN"]</label>
                    </div>
                    <span asp-validation-for="SSN" class="text-danger"></span>
                </div>
                <!--Address  -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
                        <input type="text" class="form-control input" asp-for="Address"
                            placeholder="Enter Your Address" />
                        <label for="floatingInput">@Localizer["Address"]</label>
                    </div>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row clearfix">
                <!-- Phone -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                        <input type="number" asp-for="Phone" class="form-control input" placeholder="Phone"
                            maxlength="11" />
                        <label for="Phone">@Localizer["PhoneNumber"]</label>
                    </div>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <!-- Phone -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                        <input type="number" asp-for="AnotherPhone" class="form-control input" placeholder="Other Phone"
                            maxlength="11" />
                        <label for="Phone">@Localizer["AnotherPhoneNumber"]</label>
                    </div>
                    <span asp-validation-for="AnotherPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="row clearfix">
                <!-- Work -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                        <input type="text" asp-for="Work" class="form-control input" placeholder="Work" />
                        <label for="Work">@Localizer["Work"]</label>
                    </div>
                    <span asp-validation-for="Work" class="text-danger"></span>
                </div>
                <!-- Phone -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-male"></i></span>
                        <select class="form-select form-control input" asp-for="maritalStatus"
                                aria-label="Default select example" style=" height: 100%;">
                            <option value="">@Localizer["maritalStatus"]</option>
                            <option value="single">@Localizer["single"]</option>
                            <option value="Maried">@Localizer["Maried"]</option>
                        </select>
                        <label for="floatingInput">@Localizer["maritalStatus"]</label>

                    </div>
                    <span asp-validation-for="maritalStatus" class="text-danger"></span>
                </div>

            </div>

            <div class="row clearfix">
                <!--Birth Date  -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input type="date" data-provide="datepicker" asp-for="BirthDate" data-date-autoclose="true"
                            class="form-control input" placeholder="Date" required />
                        <label for="floatingInput">@Localizer["Date"]</label>
                    </div>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

            </div>
            <div class="row clearfix">
                <!--Image  -->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-image"></i></span>
                        <input class="form-control form-control input" asp-for="PhotoUrl" style=" height: 100%;" type="file" id="formFile">
                        <label for="floatingInput">@Localizer["UploadPhoto"]</label>
                    </div>
                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                </div>
                <!--Gender-->
                <div class="col-sm-12 mb-3 mt-3">
                    <div class="form-floating  input-group">
                        <span class="input-group-text"><i class="fas fa-male"></i></span>
                        <select class="form-select form-control input" asp-for="Gender"
                            aria-label="Default select example" style=" height: 100%;">
                            <option value="">Gender</option>
                            <option value="Male">@Localizer["Male"]</option>
                            <option value="Fmale">@Localizer["Fmale"]</option>
                        </select>
                        <label for="floatingInput">@Localizer["Gender"]</label>

                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>


            <div class="mt-3 mb-5">
                <div class="form-group mb-4 pt-2">
                    <button type="submit" class="btn btn-lg "> Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-6 bg-patient p-0 border-0 rounded">
    </div>
</div>



<script src="~/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@*Validation Plugin Js*@
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {

        if (@ViewBag.Success == 1) {
            swal({
                title: "Success!",
                text: "Patient Created Successfully",
                type: "success"
            }).then(function () {
                window.location = "/HCRWebsite/Home";
            });
        }

    })
</script>