
@{
    ViewData["Title"] = "Radiology Waiting Page";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";
}
@inject BLL.Services.RadiologyDoctorWorkServices.IRadiologyDoctorWorkServices Data;
@section PageHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fa fa-spinner" aria-hidden="true"></i> Radiology Waiting Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Radiology Waiting Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->

        <div class="card">
            <div class="card-header">
            </div>
            <!-- /.card-header -->
            <div class="card-body patients-wating">
                <table id="example1" class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Radiology Name</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var Counter = 1;}
                        @foreach (var item in Data.GetAllOrders())
                        {
                            <tr>
                                <td>@(Counter++)</td>
                                <td>@item.PatientName</td>
                                <td>@item.RadiologyName</td>
                                <td>@item.DoctorName</td>
                                <td>@item.DateAndTime</td>
                                <td>
                                    <a asp-action="RadiologyDoctorWork" asp-controller="RadiologyDoctor" asp-route-Id="@item.PatientRadiologyId" class="btn btn-success me-3"><i class="text-light fas fa-check"></i></a>
                                    <a onclick="Cancel(@item.PatientRadiologyId)" class="btn btn-danger"><i class="text-light fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Radiology Name</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script type="text/javascript">

    function Cancel(id) {
        swal({
            title: `Are you sure you want to cancel this order ?!`,
            text: "If you canceled this, it will be gone forever.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({

                        type: "POST",
                        url: "/RadiologyDoctor/Cancel",
                        data: {
                            id: id,

                        },

                        success: function (res) {

                            swal("Deleted!", "Your imaginary file has been archived.", "success");
                            window.location = "/RadiologyDoctor/WaitingPage"

                        }

                    });
                }
            });
    }


</script>
@*Real time Radiology
*@
<script src="~/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl(" /Realtime").build();
    connection.on("GetNewRadiology", function (mes) {
        location.reload();
    });
    connection.start();
</script>