@model LabDoctorWorkViewModel
@{
    ViewBag.Title = "Analysis Doctor Work";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";

}
@section PageHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-user-md"></i> Analysis Doctor Work</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Analysis Doctor Work</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Patient info  -->
        <div class="info-div row align-items-end justify-content-start mt-4">
            <h5 class="col-sm-6 col-md-2 info-header"><i class="fas fa-wheelchair"></i> Patient Info</h5>
            <hr class="col w-100">
        </div>
        <div class="row clearfix mt-4 " id="radiology">
            <!-- patient name -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                    <p class="form-control ">Patient Name : @Model.PatientName</p>
                </div>
            </div>
            <!--patient SSN  -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-address-card"></i>
                    </span>
                    <p class="form-control ">SSN : @Model.SSN</p>
                </div>
            </div>
            <!-- address -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <p class="form-control ">Address : @Model.Address</p>
                </div>
            </div>
            <!-- phone  -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <p class="form-control ">Phone : @Model.Phone</p>
                </div>
            </div>
            <!-- doctor   -->
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="form-floating input-group">
                    <span class="input-group-text">
                        <i class="fas fa-user-md"></i>
                    </span>
                    <p class="form-control ">Doctor who Order : @Model.DoctorName</p>
                </div>
            </div>
            <!-- Result  -->
            <div class="info-div row align-items-end justify-content-start mt-4">
                <h5 class="col-sm-6 col-md-2 info-header"><i class="fas fa-list-alt"></i>  Result</h5>
                <hr class="col w-100">
            </div>
            <!-- uploud  -->
            <div class="row mt-4">
                <form asp-action="LabDoctorWork" asp-controller="LabDoctor" enctype="multipart/form-data" method="post">
                    <input type="hidden" value="@ViewBag.Success" id="Success" />
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-3 form-floating input-group">
                            <span class="input-group-text">
                                <i class="fas fa-image"></i>
                            </span>
                            <input class="form-control" type="file" id="formFile" asp-for="PhotoUrl">
                        </div>
                        <span class="text-danger" asp-validation-for="PhotoUrl"></span>
                        <div class="col-md-6 col-sm-12 mb-3 form-floating input-group">
                            <span class="input-group-text">
                                <i class="fas fa-file"></i>
                            </span>
                            <input class="form-control" type="file" id="formFile" asp-for="DocumentUrl">
                        </div>
                        <span class="text-danger" asp-validation-for="DocumentUrl"></span>
                        <input type="hidden" asp-for="PatientLabId" />
                        <div class="mb-3">
                            <div class="form-group mb-4 pt-2">
                                <a asp-action="WaitingPage" asp-controller="LabDoctor" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> Back</a>
                                <button onclick="Success()" type="submit" class="btn btn-save">Save</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script src="~/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Validation Plugin Js -->
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        if (@ViewBag.Success == 1) {
            swal({
                title: "Success!",
                text: "Result Added Successfully",
                type: "success"
            }).then(function () {
                window.location = "/LabDoctor/WaitingPage";
            });
        }

    })
</script>