@model DAL.Models.PatientViewModel
@{
    ViewData["Title"] = "Waiting Page";
    Layout = "~/Views/Shared/Layout/_ReseptionistLayout.cshtml";
}
@inject BLL.Services.LabDoctorWorkServices.ILabDoctorWorkServices data;
@inject BLL.Services.PatientServices.IPatientServices PatientData;
@section PageHeader{
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><i class="fas fa-spinner" aria-hidden="true"></i> Lab Waiting Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Lab Waiting Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->

        <div class="card">
            <div class="card-header">
            </div>
            <!-- /.card-header -->
            <div class="card-body patients-wating">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Analysis Name</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var Counter = 1;}
                        @foreach (var item in data.GetAllOrders())
                        {
                            <tr>
                                <td>@(Counter++)</td>
                                <td>@item.PatientName</td>
                                <td> @item.LabName</td>
                                <td>@item.DoctorName</td>
                                <td>@item.DateAndTime</td>
                                <td>
                                    <a asp-action="LabDoctorWork" asp-controller="LabDoctor" asp-route-Id="@item.PatientLabId" class="btn btn-success me-3"><i class="text-light fas fa-check"></i></a>
                                    <a href="#" class="btn btn-danger"><i class="text-light fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Patient Name</th>
                            <th>Analysis Name</th>
                            <th>Doctor Name</th>
                            <th>Date And Time</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->